<template>
  <div class="">
  <div class="modal-header">

    <h4 class="modal-title h4modal">Actualizar {{data.modaltitle}}</h4>
  </div>
  <div class="modal-body modal-body3">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <div class="row">

                <div class="col-md-12">
                  <center>    <img v-bind:src="data.imageSrc" class="img-rounded" style="height:200px"> </center>
                </div>
              <div class="col-md-6">

                <label for="dateinit" class="required paddingTop30">Ingrese nueva fecha de incio de publicación</label>
                  <date-picker v-model="data.dateinit" type="datetime" format="dd-MM-yyyy HH:mm" lang="es"></date-picker>
              </div>

              <div class="col-md-6">
                <label for="dateend" class="required paddingTop30">Ingrese nueva fecha de incio de publicación</label>
                <date-picker v-model="data.dateend" type="datetime" format="dd-MM-yyyy HH:mm" lang="es"></date-picker>
              </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="update">Actualizar</button>
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';


export default {
    data: function() {
        return {
            data: {
                modaltitle: 'cargando...',
                dateinit: 'cargando...',
                dateend: 'cargando...',
                imageSrc: ''
            }
        }
    },
    components: {
      DatePicker

    },
    watch: {

        getid:function(new_id){
          let _self = this;
          if (new_id != 0)
          {
            this.get(new_id);
          }
          else{
            _self.data.dateinit = 'cargando...' ;
            _self.data.dateend = 'cargando...' ;
            _self.data.modaltitle = 'cargando...' ;
            _self.data.imageSrc = '';

                  }
                }
    },
    props: [ 'id' ],
    computed: mapGetters([
  'getid'
]),
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId'
  ]),
        get(id) {
            var _self = this;
            return new Promise(function(res, rej){
                axios.get('./' + _self.getid
                ).then(function (response) {

                  _self.data.imageSrc = '/storage/'+response.data.message.path;
                    _self.data.modaltitle = response.data.message.description;
                    _self.data.dateinit = response.data.message.init_date;
                    _self.data.dateend = response.data.message.end_date;

                }).catch(function (error) {
                    return rej();
                });
            });
        },
        update() {

            let _$ = $;
            let _self = this;

             if( _$.trim(_self.data.dateinit) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una fecha de inicio'
             });
            }
            else if( _$.trim(_self.data.dateend) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una fecha de termino'
             });
            }
            else if( moment(_self.data.dateinit).format('YYYY-MM-DD HH:mm') >= moment(_self.data.dateend).format('YYYY-MM-DD HH:mm')){
              _self.$toast.error({
             title: 'Error en fechas',
              message: 'La fecha de inicio debe ser menor a la fecha de fin'
             });
            }
            else {
              _self.data.modaltitle = _self.data.description;
            axios.patch('./' + _self.id, {
                "init_date": moment(_self.data.dateinit).format('YYYY-MM-DD HH:mm'),
                "end_date": moment(_self.data.dateend).format('YYYY-MM-DD HH:mm')
            }).then(function (response) {
                if (response.status) {
                    swal({
                        title: '¡Actualizado!',
                        text: 'Se ha actualizado el registro',
                        type: 'success',
                        allowOutsideClick: false
                    }).then(function(result) {
                       _$('#table').DataTable().ajax.reload();
                       _$('#editDialog').modal('hide');

                    });
                }
            }).catch(function(error) {
                swal('¡Error!', 'Error al editar registro', 'error');
            });
          }
        }
    }
};
</script>
