<template>

  <div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Mantenedor Encuestadores</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
    <canvas id="myChart"></canvas>
    </div>

    </div>
    
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
   <!--  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Listado de encuestadores
            <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".bd-create-modal-lg"><i class="icon-plus"></i>&nbsp;Crear nuevo encuestador</button>
            
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
          </div>
        </div>

    </div>


  </div> -->



</div>






</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Chart from 'chart.js';



export default {
  // name: 'modals',
    data: function(){
        return {
            id: '0',
            product:[]
        }
    },
    components: {
        Chart
    },

   mounted() {
        let _self = this;
        let _$ = $;

        var ctx = document.getElementById('myChart');
      var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            label: "Producto X",
            backgroundColor: 'rgba(255, 255, 255,.0)',
            borderColor: 'rgb(81, 162, 91)',
            data: [10000, 8000, 8500, 7000, 9200, 8990, 9990],
        },
        {
            label: "Producto Y",
            backgroundColor: 'rgba(255, 255, 255,.0)',
            borderColor: 'rgb(0, 0, 0)',
            data: [5666, 4554, 7878, 5000, 8000, 7877, 6544],
        }]
    },

    // Configuration options go here
    options: {
      elements: {
            tooltips: {
            mode: 'point'
        }
        }
    }
});


    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
        disable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Inhabilitar",
                text: "¿Está seguro que desea inhabilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.delete('/surveys/pollster/' + id,
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se desactivó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al inhabilitar',
                                'error'
                                );
                        });
                    });
                }
            });
        },
        enable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Habilitar",
                text: "¿Está seguro que desea habilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.delete('/surveys/pollster/' + id,
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se activó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al activar',
                                'error'
                                );
                        });
                    });
                }
            });
        }

    }
};
</script>
