<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nueva Sucursal</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="required">Seleccione un supermercado</label>
                <select v-model="data.companies"  class="form-control" id="supermarket">
                      <option value="0">Seleccione un supermercado</option>
                       <option v-for="option, index in companies" v-bind:value="option.id" :selected="option.id == data.id">{{option.com_name}}</option>
                </select>

                <label for="name" class="required paddingTop30">Nombre de sucursal</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                 <label for="description" class="required paddingTop30">Seleccione una ciudad</label>
                <select v-model="data.cities"  class="form-control" id="supermarket">
                      <option value="0">Seleccione una ciudad</option>
                       <option v-for="option, index in cities" v-bind:value="option.id" :selected="option.id == data.id">{{option.city_name}}</option>
                </select>
                <label for="description" class="required paddingTop30">Dirección</label>
                <input v-model="data.address" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
export default {
    data: function(){
        return {
            data: {
                name: '',
                address: '',
                companies : 0,
                cities: 0

            },
             companies: [],
             cities:[]
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getCompanies();
      _self.getCities();
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if( _self.data.companies == 0){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar un supermercado'
             });
            }
            else if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre a la sucursal'
             });
            }
            else if( _self.data.cities == 0){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar una ciudad'
             });
            }
            else if( _$.trim(_self.data.address) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una dirección'
             });
            }
            else {
                axios.post('/surveys/branch', {
                    name: _self.data.name,
                    description : _self.data.address,
                    company_id : _self.data.companies,
                    city_id : _self.data.cities
                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.clean();
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.companies = 0;
          _self.data.name = '';
          _self.data.address = '';
          _self.data.cities = 0;
        },
        getCompanies(){
          let _self = this;
         axios.get('/surveys/companies/list')
         .then(function (response) {
         _self.companies = response.data.message;
         }).catch(function(error) {

         });
        },
        getCities(){
           let _self = this;
         axios.get('/surveys/cities/list')
         .then(function (response) {
         _self.cities = response.data.message;
         }).catch(function(error) {

         });
        }

    }
};
</script>
