<template>
  <div class="">
  <div class="modal-header">

    <h4 class="modal-title h4modal">Actualizar {{data.modaltitle}}</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
               <label for="description" class="required">Seleccione un supermercado</label>
                <select v-model="data.companies"  class="form-control" id="supermarket">
                      <option value="0">Seleccione un supermercado</option>
                       <option v-for="option, index in companies" v-bind:value="option.id" :selected="option.id == data.id">{{option.com_name}}</option>
                </select>

                <label for="name" class="required paddingTop30">Nombre de sucursal</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                 <label for="description" class="required paddingTop30">Seleccione una ciudad</label>
                <select v-model="data.cities"  class="form-control" id="supermarket">
                      <option value="0">Seleccione una ciudad</option>
                       <option v-for="option, index in cities" v-bind:value="option.id" :selected="option.id == data.id">{{option.city_name}}</option>
                </select>
                <label for="description" class="required paddingTop30">Dirección</label>
                <input v-model="data.address" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="update">Actualizar</button>
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: function() {
        return {
            data: {
                name: 'cargando...',
                address: 'cargando...',
                companies : 0,
                cities: 0,
                modaltitle: 'cargando...'
            },
             companies: [],
             cities:[]
        }
    },
    watch: {

        getid:function(new_id){
          let _self = this;
          if (new_id != 0)
          {
            this.get(new_id);
          }
          else{
            _self.data.name = 'cargando...';
            _self.data.address = 'cargando...';
            _self.data.companies = 0;
            _self.data.cities = 0;
            _self.data.modaltitle = 'cargando...';

                  }
                }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getCompanies();
      _self.getCities();
    },
    props: [ 'id' ],
    computed: mapGetters([
  'getid'
]),
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId'
  ]),
        get(id) {
            var _self = this;
            return new Promise(function(res, rej){
                axios.get('/surveys/branch/' + _self.getid
                ).then(function (response) {

                    _self.data.name = response.data.message.branch_name;
                    _self.data.modaltitle = response.data.message.branch_name;
                     _self.data.address = response.data.message.branch_address;
                     _self.data.companies = response.data.message.branch_company_id;
                     _self.data.cities = response.data.message.branch_city_id;

                }).catch(function (error) {
                    return rej();
                });
            });
        },
        update() {

            let _$ = $;
            let _self = this;

             if( _self.data.companies == 0){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar un supermercado'
             });
            }
            else if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre a la sucursal'
             });
            }
            else if( _self.data.cities == 0){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar una ciudad'
             });
            }
            else if( _$.trim(_self.data.address) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una dirección'
             });
            }
            else {
              _self.data.modaltitle = _self.data.name;
            axios.patch('/surveys/branch/' + _self.id, {
                    branch_name: _self.data.name,
                    branch_address : _self.data.address,
                    branch_company_id : _self.data.companies,
                    branch_city_id : _self.data.cities
            }).then(function (response) {
                if (response.status) {
                    swal({
                        title: '¡Actualizado!',
                        text: 'Se ha actualizado el registro',
                        type: 'success',
                        allowOutsideClick: false
                    }).then(function(result) {
                       _$('#table').DataTable().ajax.reload();
                       _$('#editDialog').modal('hide');

                    });
                }
            }).catch(function(error) {
                swal('¡Error!', 'Error al editar registro', 'error');
            });
          }
        },
        getCompanies(){
          let _self = this;
         axios.get('/surveys/companies/list')
         .then(function (response) {
         _self.companies = response.data.message;
         }).catch(function(error) {

         });
        },
        getCities(){
           let _self = this;
         axios.get('/surveys/cities/list')
         .then(function (response) {
         _self.cities = response.data.message;
         }).catch(function(error) {

         });
        }
    }
};
</script>
