<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevos Empleado Del Mes</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

              <div class="row">

                <div class="col-md-6">

                  <label for="dateinit" class="required paddingTop30">Seleccione Mes para publicación</label>
                    <date-picker v-model="data.dateinit" type="datetime" format="MM-YYYY" lang="es"></date-picker>
                </div>

                <div class="col-md-6">
                  <label for="" class="required paddingTop30">Seleccione un supermercado</label>
                  <select v-model="data.supermarket"  class="form-control" id="supermarkets">
                        <option value="0">Seleccione una opción</option>
                         <option v-for="option, index in supermarkets" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                  </select>
                </div>

              </div>
              <label for="description" class="required paddingTop30">Ingrese fotos</label>
              <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
              <br>
              <button type="button" class="btn btn-danger" @click.prevent="clean">Limpiar imágenes</button>

            </div>



        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" @click.prevent="cleanall">Cerrar</button>
      <button class="btn btn-success pull-right"  v-on:click= "sendFiles">Ingresar</button>
  </div>
</div>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';

export default {
    data: function(){
      let _self = this;
        return {
            data: {
                name: '',
                description: '',
                dateinit: '',
                supermarket: '0'

            },
            supermarkets: [],
    dropzoneOptions: {

        url: 'employee',
        thumbnailWidth: 100,
        autoProcessQueue: false,
        maxFilesize: 1,
        maxFiles: 1,
        addRemoveLinks: true,
        acceptedFiles: '.png , .jpg',
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> ARRASTRA ARCHIVOS AQUI PARA SUBIR",
        headers: { "x-csrf-token": Laravel.csrfToken },
        init: function () {
                        this.on("complete", function (file) {
                        var response = ($.parseJSON(file.xhr.response));

                          // if(status==2)
                          // {
                          //   alert("afsdfsadf");
                          // }
                          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            if(response.status == 2){
                                swal({
                                    title: '¡Error!',
                                    text: 'Probablemente ya hay un empleado del mes en el supermercado seleccionado, desactive antes de volver a ingresar',
                                    type: 'error',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                   $('#table').DataTable().ajax.reload();
                                   $('#createdDialog').modal('hide');
                                   _self.cleanall();

                                });
                            }
                            else {
                              swal({
                                  title: '¡Ingresado!',
                                  text: 'Se ha ingresado el empleado del mes',
                                  type: 'success',
                                  allowOutsideClick: false
                              }).then(function(result) {
                                 $('#table').DataTable().ajax.reload();
                                 $('#createdDialog').modal('hide');
                                 _self.cleanall();

                              });
                            }

                          }
                          });
                          }
    },





        }
    },
    components: {
      vueDropzone: vue2Dropzone,
      DatePicker

    },
    mounted: function() {
      let _self = this;
      this.getSupermarket();
      let _$ = $;
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.cleanall();
  });


    },
    created: function(){

        var _self = this;
        //  this.$nextTick(function(){
        //
        // });

    },
    computed: {

    },
    methods : {
          sendingEvent (file, xhr, formData) {
              let _self = this;

                formData.append('supermarkets', _self.data.supermarket);
                formData.append('init_date',moment(_self.data.dateinit).format('MM-YYYY'));
                formData.append('end_date',moment(_self.data.dateinit).format('MM-YYYY'));
                formData.append('type_id', 3);

           },
           sendFiles () {
             let _self = this;
             let _$ = $;
             if (_self.data.supermarket == "0"){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar un supermercado'
              });
             }
             else if( _$.trim(_self.data.dateinit) == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes agregar una fecha de inicio'
              });
             }
             else if (this.$refs.myVueDropzone.getQueuedFiles() == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes agregar un producto destacado como minimo'
              });
             }
             else {

               this.$refs.myVueDropzone.processQueue();
               const $a = this.$refs.myVueDropzone.getAcceptedFiles();
               // setTimeout(
               //      function()
               //      {
               //        swal({
               //            title: '¡Ingresado!',
               //            text: 'Se han ingresado los productos destacados',
               //            type: 'success',
               //            allowOutsideClick: false
               //        }).then(function(result) {
               //           _$('#table').DataTable().ajax.reload();
               //           _$('#createdDialog').modal('hide');
               //           _self.cleanall();
               //
               //        });
               //      }, 2000);

             }
           },
        store() {
            let _self = this;
            let _$ = $;
            alert(_self.vdropzone-success-multiple);

        },
        clean() {

           this.$refs.myVueDropzone.removeAllFiles()

        },
        cleanall() {
            let _self = this;

           _self.data.dateinit = '';
           _self.data.dateend = '';
            _self.data.supermarket= '0';
           this.$refs.myVueDropzone.removeAllFiles()

        },
        getSupermarket() {
               let _self = this;
                     axios.get('../supermarket/active')
                     .then(function (response) {

                     _self.supermarkets = response.data;

                     console.log(supermarkets);

                     }).catch(function(error) {

                     });
           }

    }

};
</script>
