<template>

  <div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Mantenedor Trabajador Del Mes</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Listado Trabajador Del Mes
            <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".bd-create-modal-lg"><i class="icon-plus"></i>&nbsp;Crear nuevo trabajador del mes</button>
            <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>
  <div class="modal fade bd-create-modal-lg" id="createdDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <create></create>
    </div><!-- /.modal-content -->
  </div>
</div>

<div class="modal fade bd-edit-modal-lg" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <edit :id="this.id"></edit>
  </div><!-- /.modal-content -->
</div>
</div>

</div>






</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import create from './Create.vue';
import edit from './Edit.vue';
import moment from 'moment';


export default {
  // name: 'modals',
    data: function(){
        return {
            id: '0',

        }
    },
    components: {
        edit,
        create
    },

   mounted() {
        let _self = this;
        let _$ = $;

        _$('.bd-edit-modal-lg').on('hidden.bs.modal', function (e) {
          _self.cleanFreshId();
      });

        _$('#table').DataTable({
          language: {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
            processing: true,
            serverSide: true,
            bAutoWidth:false,
            ajax: "list/3",
            columns: [
                    {
                        title: 'Nombre',
                        data: 'description',
                        width: '15%'
                    },
                    {
                        title: 'Imagen',
                        data: 'path',
                        width: '10%'
                    },
                    {
                        title: 'Fecha Inicio',
                        data: 'init_date',
                        width: '15%'
                    },
                    {
                        title: 'Fecha Fin',
                        data: 'end_date',
                        width: '15%'
                    },
                    {
                        title: 'Supermercados',
                        data: 'supermarkets',
                        width: '30%'
                    },
                    {
                        title: 'Estado',
                        data: 'status',
                        width: "5%"
                    },
                    {
                        title: 'Opciones',
                        data: 'options',
                        width: "10%"
                    }
                ],
                columnDefs: [
                  {
                    targets : 1 ,
                    data: 'path',
                    render: function ( url, type, full) {
                    return '<center><img height="50px" src="/storage/'+full.path+'"/></center>';
                  }
                  },
                  {
                    targets : 2 ,
                    data: 'init_date',
                    render: function (data, type, row) {
                    return moment(row.init_date).format('DD-MM-YYYY');
                  }
                  },
                  {
                    targets : 3 ,
                    data: 'end_date',
                    render: function (data, type, row) {
                    return moment(row.end_date).format('DD-MM-YYYY');
                  }
                  },
                  {
                    targets : 4 ,
                    data: 'supermarkets',
                    render: function ( data, type, row) {
                    var supermarket = "";
                      // console.log(data);
                      $.each(data ,function(key, value){
                        supermarket += value.name +' '+'-'+' ';

                      });
                      return supermarket.slice(0, -2);
                  }
                  },
                    {
                        data: 'status',
                        targets: -2,
                        sortable: true,
                        searchable: true,
                        render: function(data, type, row) {
                            let color = '';
                            let text = '';
                            if (row.status) {
                                color = 'success';
                                text = 'Activo';
                            } else if (!row.status) {
                                color = 'danger';
                                text = 'Inactivo';
                            } else {
                                color = 'info';
                                text = 'Sin información';
                            }
                            return '<center><span class="badge badge-'+color+'">' + text + '</span></center>';
                        }
                    },
                    {
                        data: 'options',
                        targets: -1,
                        sortable: false,
                        searchable: false,
                        render: function(data, type, row) {
                            let html = '';
                            if (row.status) {
                                html += '<a class="btn btn-success btn-sm edit" data-id="' + row.id + '" data-toggle="modal" data-target=".bd-edit-modal-lg"><i style="color:#fff" class="icon-pencil"></i></a> ';

                                html += '<a class="btn btn-danger btn-sm disable" data-id="' + row.id + '"><i style="color:#fff" class="icon-close"></i></a>';
                            } else {
                                html += '<a class="btn btn-success btn-sm enable" data-id="' + row.id + '"><i style="color:#fff" class="icon-check"></i></a>';
                            }
                            return html;
                        }
                    }
                ],



            });


        $(document).on('click', '.disable', function(e) {
            e.preventDefault();
            _self.disable($(this).data('id'));
        });
        $(document).on('click', '.enable', function(e) {
            e.preventDefault();
            _self.enable($(this).data('id'));
        });
        $(document).on('click', '.edit', function(e) {
          e.preventDefault();
            _self.id = $(this).data('id');
            _self.setFreshId($(this).data('id'));
        });
    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
        disable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Inhabilitar",
                text: "¿Está seguro que desea inhabilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.patch('forceStatus/' + id + '/3',
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se desactivó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al inhabilitar',
                                'error'
                                );
                        });
                    });
                }
            });
        },
        enable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Habilitar",
                text: "¿Está seguro que desea habilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.patch('forceStatus/'  + id + '/3',
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se activó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al activar',
                                'error'
                                );
                        });
                    });
                }
            });
        }

    }
};
</script>
