<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevo Supermercado</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="required">Nombre</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Descripción</label>
                <input v-model="data.description" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" @click.prevent="clean">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
export default {
    data: function(){
        return {
            data: {
                name: '',
                description: '',
            }
        }
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
                axios.post('supermarket', {
                    name: _self.data.name,
                    description : _self.data.description
                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.description = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.name = '';
          _self.data.description = '';
        }
    }
};
</script>
