<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar un nuevo responsable</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="required ">Rut</label>
                  <input v-model="data.run" type="text" id="rut" placeholder="Ingrese nombre" class="form-control">
                <label for="name" class="required paddingTop30">Primer Nombre</label>
                <input v-model="data.first_name" placeholder="Ingrese primer nombre" class="form-control">
                <label for="description" class="required paddingTop30">Segundo Nombre</label>
                <input v-model="data.second_name" placeholder="Ingrese segundo nombre" class="form-control">
                <label for="description" class="required paddingTop30">Apellido paterno</label>
                <input v-model="data.father_surname" placeholder="Ingrese apellido paterno" class="form-control">
                 <label for="description" class="required paddingTop30">Apeliido materno</label>
                <input v-model="data.mother_surname" placeholder="Ingrese apellido materno" class="form-control">
                 
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
export default {
    data: function(){
        return {
            data: {
                first_name: '',
                second_name: '',
                father_surname: '',
                mother_surname: '',
                run: ''
            }
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });

       $("input#rut").rut().on('rutInvalido', function(e) {
    $("input#rut").focus();
        _self.data.run = '';
    _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'El rut ' + $(this).val() + ' es inválido'
              });
});
       _self.$toast.info({
  title : 'Información',
  message : 'Recuerde que solo pueden existir 3 responsables activos a la vez',
  positionClass: "toast-bottom-center",
  closeButton: true,
  progressBar: true,
});
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

             if( _$.trim(_self.data.run) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
            else if( _$.trim(_self.data.first_name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar primer nombre'
             });
            }
             else if( _$.trim(_self.data.second_name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar segundo nombre'
             });
            }
            else if( _$.trim(_self.data.father_surname) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un apellido paterno'
             });
            }
            else if( _$.trim(_self.data.mother_surname) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un apellido materno'
             });
            }
           
            else {
                axios.post('/simplecredit/responsibles-credit', {
                    first_name: _self.data.first_name,
                    second_name: _self.data.second_name,
                    father_surname : _self.data.father_surname,
                    mother_surname : _self.data.mother_surname,
                    run : _self.data.run,
                    client_id : '1',
                    code : '4654546'
                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.first_name = '';
                                    _self.data.second_name = '';
                                    _self.data.father_surname = '';
                                    _self.data.mother_surname = '';
                                    _self.data.run = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.name = '';
          _self.data.description = '';
        }
    }
};
</script>
