<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nueva Compañia</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="required">Seleccione un usuario</label>
                 <model-select :options="options"
                                v-model="item"
                                placeholder="Seleccione un usuario">
            </model-select>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
import { ModelSelect } from 'vue-search-select'
export default {
    data: function(){
        return {
            data: {
                
            },
             options: [],
             item: {
          value: '',
          text: ''
        },
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getclients();
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });
    },
    components:{
      ModelSelect
    },

    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if( _self.item.value == 0){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar un usuario'
             });
            }
            else {
                axios.post('/surveys/pollster', {
                  pollster_user_id:_self.item.value
                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.description = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.name = '';
          _self.data.description = '';
        },
        getclients(){
                let _self = this;
                let _$ = $;
                   axios.get('/administration/access-control/list/1')
                   .then(function (response) {
                   
                    _$.each(response.data, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.user_data.ud_first_name +' '+  key.user_data.ud_father_surname +' '+ key.user_data.ud_mother_surname
                      });
                    });
                   }).catch(function(error) {

                   });

      },  
        reset () {
        this.item = {}
        },
        selectOption () {
          this.item = this.options[0]
        } 
    }
};
</script>
