<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">

        <li class="unitvfont">
         <span>UNICO</span>
        </li>
         <li class="nav-item">
          <a id="inicio" href="/administration" class="nav-link"><i class="icon-home"></i> Inicio </a>
        </li>
        <li class="divider"></li>
           
       <div  v-for="padre in menu">
           <li class="nav-title" style="">
          {{padre.name}}</li>
       
       
        
        <div v-for="menus in padre.children">
            <li class="divider"></li>
         <li class="nav-item nav-dropdown" disabled v-bind:id="menus.name">
        <div id="" class="nav-link nav-dropdown-toggle"   @click="handleClick"><i v-bind:class="menus.icon" aria-hidden="true"></i>{{ menus.name }}</div>
        
            <ul class="nav-dropdown-items">
                <li class="nav-item" v-for="submenu in menus.grandChild">
                    <a class="nav-link" id="informative" v-bind:href="submenu.md_path"><i v-bind:class="submenu.md_icon" aria-hidden="true"></i> {{ submenu.md_name }}</a>
                </li>
             </ul>
            </li>
        </div>

        <li class="divider"></li>
        </div>
        
      </ul>
     <!--  <ul class="nav"  style="position: absolute;bottom: 30px;">
         <li class="nav-title">
          Soporte
        </li>
         <li class="nav-item">
              <a  class="nav-link" href="/helpdesk"><i class="icon-info"></i> HelpDesk</a>
          </li>
      </ul> -->
    </nav>
  </div>
</template>
<script>

export default {

    data: function() {
        return {
            data: {

            },

           name: 'sidebar',
    
            menu:[]
            
        }

    },
  mounted: function(){
      let _$ = $;
      let _self = this;

      _self.getMenu();

    },
  methods: {
    handleClick (e) {
      e.preventDefault()
      e.target.parentElement.classList.toggle('open')
    },
    getMenu(){
    let _self = this;
    axios.get('/administration/access-control/menu/1').then(function (response) {
     
     
     _self.menu = response.data;
     // console.log(_self.menu);

    }).catch(function(error) {

             });
        }
  }
}
</script>

<style lang="css">
  .nav-link {
    cursor:pointer;
  }
</style>
