<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">

        <li class="unitvfont">
         <span>Uni</span><span>TV</span>
        </li>
         <li class="nav-item">
          <a id="inicio" href="/unitv/" class="nav-link"><i class="icon-home"></i> Inicio </a>
        </li>
        <li class="divider"></li>
           <li class="nav-title" style="">
          Administración
        </li>
         <li class="nav-item nav-dropdown" disabled id="dropdownAdmin">
          <div id="mantenedores" class="nav-link nav-dropdown-toggle" @click="handleClick"><i class="icon-settings"></i> Mantenedores</div>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a  class="nav-link" id="informative" href="/unitv/informative/"><i class="icon-picture"></i> Slider Informativo</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" id="videos" href="/unitv/video"><i class="icon-film"></i> Videos</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" id="employees" href="/unitv/informative/employee"><i class="icon-user"></i> Trabajador del mes </a>
            </li>
            <li class="nav-item">
              <a  class="nav-link" id="product" href="/unitv/informative/product"><i class="icon-basket"></i> Productos del mes</a>
            </li>
            <li class="nav-item">
              <a id="supermarket" class="nav-link" href="/unitv/supermarket"><i class="icon-home"></i> Supermercado</a>
            </li>

          </ul>
        <li class="divider"></li>
      </ul>
      <ul class="nav"  style="position: absolute;bottom: 30px;">
         <li class="nav-title" sty>
          Soporte
        </li>
         <li class="nav-item">
              <a  class="nav-link" href="/helpdesk"><i class="icon-info"></i> HelpDesk</a>
          </li>
      </ul>
    </nav>
  </div>
</template>
<script>

export default {
  name: 'sidebar',
  methods: {
    handleClick (e) {
      e.preventDefault()
      e.target.parentElement.classList.toggle('open')
    }
  }
}
</script>

<style lang="css">
  .nav-link {
    cursor:pointer;
  }
</style>
