<template>

  <div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Contactos teléfonicos</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Contactos
            
            <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>
  

</div>






</template>

<script>
import { mapGetters, mapActions } from 'vuex';


export default {
  // name: 'modals',
    data: function(){
        return {
            id: '0',

        }
    },
    components: {
      
    },

   mounted() {
        let _self = this;
        let _$ = $;


        _$('.bd-edit-modal-lg').on('hidden.bs.modal', function (e) {
          _self.cleanFreshId();
      });

        _$('#table').DataTable({
          language: {
            "sProcessing":     "Procesando...",
      "sLengthMenu":     "Mostrar _MENU_ registros",
      "sZeroRecords":    "No se encontraron resultados",
      "sEmptyTable":     "Ningún dato disponible en esta tabla",
      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix":    "",
      "sSearch":         "Buscar:",
      "sUrl":            "",
      "sInfoThousands":  ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
      },
      "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
        },
            processing: true,
            serverSide: true,
            bAutoWidth:false,
            ajax: "/unitv/contact-book/table/list",
            columns: [
                    {
                        title: 'Nombre',
                        data: 'full_name'
                    },
                    {
                        title: 'Departamento',
                        data: 'department'
                    },
                    {
                        title: 'Anexo',
                        data: 'phone'
                    },
                    {
                        title: 'Celular',
                        data: 'cellphone'
                    }
                    
                ]



            });


        $(document).on('click', '.disable', function(e) {
            e.preventDefault();
            _self.disable($(this).data('id'));
        });
        $(document).on('click', '.enable', function(e) {
            e.preventDefault();
            _self.enable($(this).data('id'));
        });
        $(document).on('click', '.edit', function(e) {
          e.preventDefault();
            _self.id = $(this).data('id');
            _self.setFreshId($(this).data('id'));
        });
    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
        disable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Inhabilitar",
                text: "¿Está seguro que desea inhabilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.delete('/surveys/companies/' + id,
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se desactivó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al inhabilitar',
                                'error'
                                );
                        });
                    });
                }
            });
        },
        enable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Habilitar",
                text: "¿Está seguro que desea habilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.delete('/surveys/companies/' + id,
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se activó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al activar',
                                'error'
                                );
                        });
                    });
                }
            });
        }

    }
};
</script>
