<template>
  <div class="app flex-row align-items-center" style="background-color:#4dbd74">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-2">
              <div class="card-block">
                <h1>Iniciar sesión</h1>
                <p class="text-muted">Inicia sesión con tu correo</p>
                <div class="input-group mb-1">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" v-model="data.correo" v-on:keyup.enter="login" class="form-control" placeholder="Correo">
                </div>
                <div class="input-group mb-2">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" v-model="data.password" v-on:keyup.enter="login" class="form-control" placeholder="Contraseña">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-success px-2" @click.prevent="login">Iniciar sesión</button>
                  </div>
                  <div class="col-6 text-right">
                   <!--  <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-inverse card-info py-3 hidden-md-down" style="width:44%;background-color:#4dbd74;border-color:#4dbd74">
              <div class="card-block text-center">
                <div>
                   <img src="../../img/2.png" width="300px" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 
    data: function(){
        return {
            data: {
                correo: '',
                password: '',
            }
        }
    },
    mounted: function(){
     
    },
    methods : {
        login() {
            let _self = this;
            let _$ = $;

            if( _$.trim(_self.data.correo) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un correo'
             });
            }
            else if( _$.trim(_self.data.password) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un password'
             });
            }
            else {
                axios.post('/administration/signIn', {
                    email: _self.data.correo,
                    password : _self.data.password
                }).then(function (response) {
                      console.log(response);
                      if (response.data.state == 0 ){
                          _self.$toast.error({
             title: 'Problemas de inicio de sesión',
              message: 'Correo o contraseña invalidos'
             });
                      }
                      else{
                        window.location.href = response.data.redirect;
                      }

                      

                        }).catch(function(error) {
                            // swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        // clean() {
        //    let _self = this;
        //   _self.data.name = '';
        //   _self.data.description = '';
        // }
    }
};

</script>
