<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevo Supermercado</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <div class="container">


              <label for="description" class="required" style="padding-bottom:10px">Seleccione Supermercados para agregar slider informativo</label> <br>
              <span style="padding-right:20px">  <input type="checkbox"   v-model="selectAll"> <strong> Todos</strong>   </span >
              <span  v-for="supermarket in supermarkets" style="padding-right:20px">

                  <input type="checkbox" :value="supermarket.id"  v-model="checkedNames"> {{supermarket.name}}



              </span >
              <div class="row">
                <label for="name" class="required paddingTop30">Nombre</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">URL</label>
                <input v-model="data.url" placeholder="Ingrese nombre" class="form-control">
              </div>

            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" @click.prevent="clean">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
export default {
    data: function(){
        return {
            data: {
                name: '',
                url: '',
            },
            supermarkets: [],
            checkedNames: [],
        }
    },
    mounted: function() {
      let _self = this;
      this.getSupermarket();
      let _$ = $;
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });
    },
    computed: {
        selectAll: {
            get: function () {
                return this.supermarkets ? this.checkedNames.length == this.supermarkets.length : false;
            },
            set: function (value) {
                var checkedNames = [];

                if (value) {
                    this.supermarkets.forEach(function (supermarket) {
                        checkedNames.push(supermarket.id);
                    });
                }

                this.checkedNames = checkedNames;
            }
        }
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if (_self.checkedNames == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar un supermercado'
             });
            }
            else if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.url) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una URL'
             });
            }
            else {
                axios.post('video', {
                  supermarkets : _self.checkedNames,
                    name : _self.data.name,
                    url : _self.data.url

                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.url = '';
                                    _self.checkedNames = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.name = '';
          _self.data.url = '';
          _self.checkedNames = '';
        },
        getSupermarket() {
               let _self = this;
                     axios.get('supermarket/active')
                     .then(function (response) {

                     _self.supermarkets = response.data;

                     }).catch(function(error) {

                     });
           }
    }
};
</script>
