<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevos Productos Destacados</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="description" class="required" style="padding-bottom:10px">Seleccione Supermercados para agregar productos destacados</label> <br>
              <span style="padding-right:20px">  <input type="checkbox"   v-model="selectAll"> <strong> Todos</strong>   </span >
              <span  v-for="supermarket in supermarkets" style="padding-right:20px">

                  <input type="checkbox" :value="supermarket.id"  v-model="checkedNames"> {{supermarket.name}}



              </span >
              <div class="row">

                <div class="col-md-6">

                  <label for="dateinit" class="required paddingTop30">Ingrese fecha de incio de publicación</label>
                    <date-picker v-model="data.dateinit" type="datetime" format="dd-MM-yyyy HH:mm" lang="es"></date-picker>
                </div>

                <div class="col-md-6">
                  <label for="dateend" class="required paddingTop30">Ingrese fecha de incio de publicación</label>
                  <date-picker v-model="data.dateend" type="datetime" format="dd-MM-yyyy HH:mm" lang="es"></date-picker>
                </div>
              </div>
              <label for="description" class="required paddingTop30">Ingrese fotos</label>
              <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
              <br>
              <button type="button" class="btn btn-danger" @click.prevent="clean">Limpiar imágenes</button>

            </div>



        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" @click.prevent="cleanall">Cerrar</button>
      <button class="btn btn-success pull-right"  v-on:click= "sendFiles">Ingresar</button>
  </div>
</div>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
DatePicker.methods.displayPopup = function () {
  this.position = {
    left: 0,
    top: '100%'
  }
}

export default {
    data: function(){
      let _self = this;
        return {
            data: {
                name: '',
                description: '',
                dateinit: '',
                dateend: ''

            },
            supermarkets: [],
            checkedNames: [],
            items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ],
    dropzoneOptions: {

        url: 'https://ims.test/unitv/informative',
        thumbnailWidth: 100,
        autoProcessQueue: false,
        maxFilesize: 1,
        addRemoveLinks: true,
        acceptedFiles: '.png , .jpg',
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> ARRASTRA ARCHIVOS AQUI PARA SUBIR",
        headers: { "x-csrf-token": Laravel.csrfToken },
        init: function () {
                        this.on("complete", function (file) {
                          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                              // alert("fotos subidads");
                              swal({
                                  title: '¡Ingresado!',
                                  text: 'Se han ingresado los productos destacados',
                                  type: 'success',
                                  allowOutsideClick: false
                              }).then(function(result) {
                                 $('#table').DataTable().ajax.reload();
                                 $('#createdDialog').modal('hide');
                                 _self.cleanall();

                              });
                          }
                          });
                          }
    },





        }
    },
    components: {
      vueDropzone: vue2Dropzone,
      DatePicker

    },
    mounted: function() {
      let _self = this;
      this.getSupermarket();
        let _$ = $;
        _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
          _self.cleanall();
      });


    },
    created: function(){

        var _self = this;
        //  this.$nextTick(function(){
        //
        // });

    },
    computed: {
        selectAll: {
            get: function () {
                return this.supermarkets ? this.checkedNames.length == this.supermarkets.length : false;
            },
            set: function (value) {
                var checkedNames = [];

                if (value) {
                    this.supermarkets.forEach(function (supermarket) {
                        checkedNames.push(supermarket.id);
                    });
                }

                this.checkedNames = checkedNames;
            }
        }
    },
    methods : {
          sendingEvent (file, xhr, formData) {
              let _self = this;

                formData.append('supermarkets', _self.checkedNames);
                formData.append('init_date',moment(_self.data.dateinit).format('YYYY-MM-DD HH:mm'));
                formData.append('end_date', moment(_self.data.dateend).format('YYYY-MM-DD HH:mm'));
                formData.append('type_id', 2);



               // console.log(_self.data.dateinit);
               // console.log(moment(_self.data.dateend).format('YYYY-MM-DD h:mm'));
               // console.log("hola");

           },
           sendFiles () {
             let _self = this;
             let _$ = $;
             if (_self.checkedNames == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar un supermercado'
              });
             }
             else if( _$.trim(_self.data.dateinit) == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes agregar una fecha de inicio'
              });
             }
             else if( _$.trim(_self.data.dateend) == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes agregar una fecha de termino'
              });
             }
             else if( moment(_self.data.dateinit).format('YYYY-MM-DD HH:mm') >= moment(_self.data.dateend).format('YYYY-MM-DD HH:mm')){
               _self.$toast.error({
              title: 'Error en fechas',
               message: 'La fecha de inicio debe ser menor a la fecha de fin'
              });
             }
             else if (this.$refs.myVueDropzone.getQueuedFiles() == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes agregar un producto destacado como minimo'
              });
             }
             else {

               this.$refs.myVueDropzone.processQueue();
               const $a = this.$refs.myVueDropzone.getAcceptedFiles();
            

             }
           },
        store() {
            let _self = this;
            let _$ = $;
            alert(_self.vdropzone-success-multiple);

        },
        clean() {

           this.$refs.myVueDropzone.removeAllFiles()

        },
        cleanall() {
            let _self = this;

           _self.data.dateinit = '';
           _self.data.dateend = '';
            _self.checkedNames= [];
           this.$refs.myVueDropzone.removeAllFiles()

        },
        getSupermarket() {
               let _self = this;
                     axios.get('../supermarket/active')
                     .then(function (response) {

                     _self.supermarkets = response.data;

                     }).catch(function(error) {

                     });
           }

    }

};
</script>
