<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevo Problema</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="required ">Seleccione tipo de problema</label>
                <select v-model="data.type"  class="form-control" id="type">
                      <option value="0">Seleccione tipo de problema</option>
                       <option v-for="option, index in type" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                 <label for="description" class="required paddingTop30">Seleccione prioridad</label>
                <select v-model="data.priority"  class="form-control" id="type">
                      <option value="0">Seleccione prioridad</option>
                       <option v-for="option, index in priority" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                <label for="name" class="required paddingTop30">Nombre</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Descripción</label>
                <input v-model="data.description" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
export default {
    data: function(){
        return {
            data: {
                name: '',
                description: '',
                type: 0,
                priority : 0
            },
            type : [],
            priority : []
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getTypeProblems();
      _self.getPriority();
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if( _self.data.type == "0"){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar un tipo de problema'
             });
            }
            else if( _self.data.priority == "0"){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar una prioridad'
             });
            }
            else if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
                axios.post('problem', {
                    name: _self.data.name,
                    description : _self.data.description,
                    type_id : _self.data.type,
                    priority_id : _self.data.priority

                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.description = '';
                                    _self.data.type = '0';
                                    _self.data.priority = '0';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!','Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.name = '';
          _self.data.description = '';
        },
        getTypeProblems(){
           let _self = this;
         axios.get('/helpdesk/typeproblem/listactive')
         .then(function (response) {
         _self.type = response.data;
         }).catch(function(error) {

         });
        },
        getPriority(){
           let _self = this;
         axios.get('/helpdesk/priority/list')
         .then(function (response) {
         _self.priority = response.data;
         }).catch(function(error) {

         });
        }

        
    }
};
</script>
