<template>
  <div class="">
  <div class="modal-header">

    <h4 class="modal-title h4modal">Actualizar {{data.modaltitle}}</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="required ">Seleccione tipo de problema</label>
                <select v-model="data.type"  class="form-control" id="type">
                      <option value="0">Seleccione tipo de problema</option>
                       <option v-for="option, index in type" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                 <label for="description" class="required paddingTop30">Seleccione prioridad</label>
                <select v-model="data.priority"  class="form-control" id="type">
                      <option value="0">Seleccione prioridad</option>
                       <option v-for="option, index in priority" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                <label for="name" class="required paddingTop30">Nombre</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Descripción</label>
                <input v-model="data.description" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="update">Actualizar</button>
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: function() {
        return {
            data: {
                name: 'cargando...',
                description: 'cargando...',
                modaltitle: 'cargando...',
                type: 0,
                priority : 0
            },
            type : [],
            priority : []
        }
    },
   mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getTypeProblems();
      _self.getPriority();
    },
    watch: {

        getid:function(new_id){
          let _self = this;
          if (new_id != 0)
          {
            this.get(new_id);
          }
          else{
            _self.data.name = 'cargando...' ;
            _self.data.description = 'cargando...' ;
            _self.data.modaltitle = 'cargando...' ;
            _self.data.type = '0';
            _self.data.priority = '0';
                  }
                }
    },
    props: [ 'id' ],
    computed: mapGetters([
  'getid'
]),
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId'
  ]),
        get(id) {
            var _self = this;
            return new Promise(function(res, rej){
                axios.get('problem/' + _self.getid
                ).then(function (response) {

                    _self.data.name = response.data.message.name;
                    _self.data.modaltitle = response.data.message.name;
                     _self.data.description = response.data.message.description;
                     _self.data.type = response.data.message.type.id;
                    _self.data.priority = response.data.message.priority.id;
                }).catch(function (error) {
                    return rej();
                });
            });
        },
        update() {

            let _$ = $;
            let _self = this;

              if( _self.data.type == "0"){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar un tipo de problema'
             });
            }
            else if( _self.data.priority == "0"){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes seleccionar una prioridad'
             });
            }
            else if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
              _self.data.modaltitle = _self.data.name;
            axios.patch('problem/' + _self.id, {
                "name": _self.data.name,
                "description": _self.data.description,
                "priority_id": _self.data.priority,
                "type_id": _self.data.type
            }).then(function (response) {
                if (response.status) {
                    swal({
                        title: '¡Actualizado!',
                        text: 'Se ha actualizado el registro',
                        type: 'success',
                        allowOutsideClick: false
                    }).then(function(result) {
                       _$('#table').DataTable().ajax.reload();
                       _$('#editDialog').modal('hide');

                    });
                }
            }).catch(function(error) {
                swal('¡Error!', 'Error al editar registro', 'error');
            });
          }
        },
        getTypeProblems(){
           let _self = this;
         axios.get('/helpdesk/typeproblem/listactive')
         .then(function (response) {
         _self.type = response.data;
         }).catch(function(error) {

         });
        },
        getPriority(){
           let _self = this;
         axios.get('/helpdesk/priority/list')
         .then(function (response) {
         _self.priority = response.data;
         }).catch(function(error) {

         });
        }
    }
};
</script>
