<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Agregar permisos</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="description" class="required ">Seleccione tipo de problema</label>
                 <model-select :options="options"
                                v-model="item"
                                placeholder="select item">
         </model-select>
                 <label for="description" class="required paddingTop30">Seleccione prioridad</label>
               

                 


               
                <label for="name" class="required paddingTop30">Nombre</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Descripción</label>
                <input v-model="data.description" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
import { ModelSelect } from 'vue-search-select'
export default {
    data: function(){
        return {
            data: {
                name: '',
                description: '',
                type: 0,
                priority : 0
            },
             options: [
         
        ],
        item: {
          value: '',
          text: ''
        },
            type : [],
            priority : [],
            modules : []
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
     
      _self.getclients();
      _self.getModules();
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        // _self.clean();
    });
    },
    components: {
      ModelSelect
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;
            console.log(_self.item);
            // if( _self.data.type == "0"){
            //   _self.$toast.error({
            //  title: 'Datos Faltantes',
            //   message: 'Debes seleccionar un tipo de problema'
            //  });
            // }
            // else if( _self.data.priority == "0"){
            //   _self.$toast.error({
            //  title: 'Datos Faltantes',
            //   message: 'Debes seleccionar una prioridad'
            //  });
            // }
            // else if( _$.trim(_self.data.name) == ""){
            //   _self.$toast.error({
            //  title: 'Datos Faltantes',
            //   message: 'Debes ingresar un nombre'
            //  });
            // }
            // else if( _$.trim(_self.data.description) == ""){
            //   _self.$toast.error({
            //  title: 'Datos Faltantes',
            //   message: 'Debes ingresar una descripción'
            //  });
            // }
            // else {
            //     axios.post('problem', {
            //         name: _self.data.name,
            //         description : _self.data.description,
            //         type_id : _self.data.type,
            //         priority_id : _self.data.priority

            //     }).then(function (response) {

            //         if (response.status) {
            //             swal({
            //                         title: '¡Ingresado!',
            //                         text: 'Se ha ingresado el registro',
            //                         type: 'success',
            //                         allowOutsideClick: false
            //                     }).then(function(result) {
            //                         _$('#table').DataTable().ajax.reload();
            //                         _$('#createdDialog').modal('hide');
            //                         _self.data.name = '';
            //                         _self.data.description = '';
            //                         _self.data.type = '0';
            //                         _self.data.priority = '0';
            //                     });
            //                 }
            //             }).catch(function(error) {
            //                 swal('¡Error!','Error al ingresar registro', 'error');
            //             });


            // }
        },
        getclients(){
                let _self = this;
                let _$ = $;
                   axios.get('/administration/access-control/list/1')
                   .then(function (response) {
                   
                    _$.each(response.data, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.user_data.ud_first_name +' '+  key.user_data.ud_father_surname +' '+ key.user_data.ud_mother_surname
                      });
                    });
                     // { value: '1', text: 'aa' + ' - ' + '1' },
                      // { value: '2', text: 'ab' + ' - ' + '2' },
                      // { value: '3', text: 'bc' + ' - ' + '3' },
                      // { value: '4', text: 'cd' + ' - ' + '4' },
                      // { value: '5', text: 'de' + ' - ' + '5' }
                   // _self.options = response.data;
                   }).catch(function(error) {

                   });

      },  
        reset () {
        this.item = {}
        },
        selectOption () {
          // select option from parent component
          this.item = this.options[0]

        },
        getModules(){
        let _self = this;
        axios.get('/administration/access-control/menu/1').then(function (response) {
         
         
         _self.modules = response.data;
         console.log(_self.modules);

        }).catch(function(error) {

                 });
        }

        
    }
};
</script>
