<template>

  <div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Asignación de permisos a usuarios</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Asignar permisos a usuario
            <!-- <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".bd-create-modal-lg"><i class="icon-plus"></i>&nbsp;Crear nuevo problema</button> -->
            <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
          </div>
          <div class="card-block">
            <div class="col-md-12">
             <div class="form-group">
                <label for="description" class="required ">Seleccione un usuario</label>
                <basic-select :options="options"
                :selected-option="item"
                placeholder="select item"
                @select="onSelect">
                </basic-select>
                         <label for="description" class="required paddingTop30">Seleccione modulos</label>
               
                        <div  v-for="padre in modules">
                          <div class="card-header">
                          <a style="color:#fff" data-toggle="collapse" v-bind:href="'#'+padre.id">{{padre.name}}</a>
                          </div>
                          <div class="col-md-12 panel-collapse collapse" style="padding:20px" v-bind:id="padre.id">
                            <div class="row">
                              
                           
                            <div class="col-md-3" v-for="menus in padre.children">
                              <div id="" class="">
                            

                            <input style="padding-left:18px" type="checkbox"  v-bind:class="padre.name+menus.name+'enabled'"  @click.prevent="clickAll(menus.name,padre.name+menus.name+'enabled',padre.name+menus.name+'disabled')"> <i v-bind:class="padre.name+menus.name+'enabled'+' '+'fa fa-bars'" aria-hidden="true"></i> <span v-bind:class="padre.name+menus.name+'enabled'">Marcar todos</span>
                             


                             <input style="padding-left:18px" type="checkbox" v-bind:class="padre.name+menus.name+'disabled'" hidden  checked  @click.prevent="clickAllDisabled(menus.name,padre.name+menus.name+'disabled',padre.name+menus.name+'enabled')"> <i hidden v-bind:class="padre.name+menus.name+'disabled'+' '+'fa fa-bars'" aria-hidden="true"></i> <span hidden v-bind:class="padre.name+menus.name+'disabled'">Desmarcar todos</span>
                             <br>
                  
                  <input type="checkbox" :value="menus.id" v-model="checkedModules" v-bind:class="menus.name"> <i v-bind:class="menus.icon" aria-hidden="true"></i> {{ menus.name }}

                              </div>
                             
                             <div style="padding-left:18px" v-for="submenu in menus.grandChild">

        <input type="checkbox" :value="submenu.id" v-model="checkedModules" v-bind:class="menus.name"> <i v-bind:class="submenu.md_icon" aria-hidden="true"></i> {{ submenu.md_name }}
                               
                             </div>
                                 
                             
                             </div>
                            </div>
                          </div>
       
                        </div>


               
            
            </div>
            <button class="btn btn-success" @click.prevent="store">Ingresar</button>
            <!-- <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div> -->
             </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>


</div>






</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { BasicSelect } from 'vue-search-select'

export default {
  // name: 'modals',
     data: function(){
        return {
            data: {
                id: 0,
                name: '',
                description: '',
                type: 0,
                priority : 0
            },
             options: [],
        item: {
          value: '',
          text: ''
        },
            type : [],
            priority : [],
            modules : [],
            checkedModules: [],
        }
    },
    components: {
       
        BasicSelect,
         
    },

   mounted() {
     let _$ = $;
      let _self = this;
     
      _self.getclients();
       _self.getModules();

    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
          store() {
            let _self = this;
            let _$ = $;
            console.log(_self.item.value);
             axios.post('/administration/access-control/module', {
                    user_id: _self.item.value,
                    description : _self.checkedModules
                }).then(function (response) {

                });



            console.log(_self.checkedModules);
        },
        getclients(){
                let _self = this;
                let _$ = $;
                   axios.get('/administration/access-control/list/1')
                   .then(function (response) {
                    
                    _$.each(response.data, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.user_data.ud_first_name +' '+  key.user_data.ud_father_surname +' '+ key.user_data.ud_mother_surname
                      });
                    });
                   
                   }).catch(function(error) {

                   });

      },  
       
        getModules(){
        let _self = this;
        axios.get('/administration/module/list').then(function (response) {
         
         console.log(response);
         _self.modules = response.data;
         console.log(_self.modules);

        }).catch(function(error) {

                 });
        },
        getMod(){
          console.log("ok");
        },
        onSelect (item) {
          let _self = this;
          let _$ = $;
          this.item = item;
          _self.checkedModules = [];
          axios.get('/administration/module/active/list/' + item.value).then(function (response) {
            console.log(response);
          _$.each(response.data, function(value, key) {

                     // $('#'+key).prop('checked', true);
                     _self.checkedModules.push(
                      "" + key +""
                      );
                    });

         
         
         
         console.log(_self.checkedModules);

        }).catch(function(error) {

                 });
        // console.log(item.value);


      },
      reset () {
        this.item = {}
      },
      selectOption () {
        // select option from parent component
        this.item = this.options[0]
      },
      clickAll(id,clasevisible,claseinvisible) {
        let _self = this;
        console.log(clasevisible);
        $('.'+clasevisible).attr('hidden',true);
        $('.'+claseinvisible).attr('hidden',false);
          // $(this).prop('checked', true);
          $("."+id).each(function(){

              var $this = $(this);

              if($this.is(":checked"))
              {
               
              }
              else
              {
                _self.checkedModules.push(
                $(this).attr('value')
                );

              }

      });
      
      },
      clickAllDisabled(id,claseinvisible,clasevisible){
        let _self = this;
          console.log(id);
          $('.'+clasevisible).attr('hidden',false);
        $('.'+claseinvisible).attr('hidden',true);
              
          $("."+id).each(function(value, key){
            var $this = $(this);
            if($this.is(":checked"))
              {
               _self.checkedModules.splice(_self.checkedModules.indexOf(key.value), 1);
            
              }
      });
          
      },
      test(){
        let _self = this;
        console.log(_self.checkedModules);
      }

    }
};
</script>
