<template>
  <div class="">
  <div class="modal-header">

    <h4 class="modal-title h4modal">Información caso {{data.modaltitle}}</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
           
         <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="personales-tab" data-toggle="tab" href="#personales" role="tab" aria-controls="personales" aria-selected="true">Datos personales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="bancarias-tab" data-toggle="tab" href="#bancarias" role="tab" aria-controls="bancarias" aria-selected="false">Referencias bancarias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="comerciales-tab" data-toggle="tab" href="#comerciales" role="tab" aria-controls="comerciales" aria-selected="false">Referencias comerciales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="interno-tab" data-toggle="tab" href="#interno" role="tab" aria-controls="interno" aria-selected="false">Espacio para uso interno</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="personales" role="tabpanel" aria-labelledby="personales-tab">
     <div class="row">
    <div class="col-md-6">
      <label for="" class="required labelcase">Nombre o razón social de la empresa</label><br>
      <span>{{data.nombre}}</span>
    </div>
    <div class="col-md-6">
      <label for="" class="required labelcase">R.U.T</label><br>
      <span>{{data.rut}}</span>
    </div>
    <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Dirección</label><br>
      <span>{{data.direccion}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Actividad</label><br>
      <span>{{data.actividad}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Nombre representante legal</label><br>
      <span>{{data.nombre_representante}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">R.U.T representante legal</label><br>
      <span>{{data.rut_representante}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Factura a nombre de</label><br>
      <span>{{data.factura}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Contacto Depto. Pagos</label><br>
      <span>{{data.contact_depto}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Teléfono</label><br>
      <span>{{data.telefono}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Email</label><br>
      <span>{{data.email}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Días de pago</label><br>
      <span>{{data.dias}}</span>
    </div>
    <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Monto solicitado</label><br>
    <span>{{data.monto}}</span>
    </div>
    </div>
    
    
  </div>
  <div class="tab-pane fade" id="bancarias" role="tabpanel" aria-labelledby="bancarias-tab">
    <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="bancarias_table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
  </div>
  <div class="tab-pane fade" id="comerciales" role="tabpanel" aria-labelledby="comerciales-tab">
    <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="comercialess_table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>

  </div>
  <div class="tab-pane fade" id="interno" role="tabpanel" aria-labelledby="interno-tab"> 
      <div class="row">
    <div class="col-md-6">
      <label for="" class="required labelcase">Monto solicitado</label><br>
      <span>{{data.monto}}</span>
    </div>
    <div class="col-md-6">
      <label for="" class="required labelcase">Monto Autorizado</label><br>
      <span>{{data.autorizado}}</span>
    </div>
    <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Crédito inicial</label><br>
      <span>{{data.credito}}</span>
    </div>
     <div class="col-md-6">
      <label for="" class="required labelcase paddingTop30">Plazo de crédito</label><br>
      <span>{{data.plazo}}</span>
    </div>
     </div>
  </div>
</div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="update">Actualizar</button>
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: function() {
        return {
            data: {
                nombre: 'cargando...',
                rut: 'cargando...',
                direccion: 'cargando...',
                actividad: 'cargando...',
                nombre_representante: 'cargando...',
                rut_representante: 'cargando...',
                factura: 'cargando...',
                contact_depto: 'cargando...',
                telefono: 'cargando...',
                email: 'cargando...',
                dias: 'cargando...',
                monto: 'cargando...',
                autorizado: 'cargando...',
                credito: 'cargando...',
                plazo: 'cargando...'
            }
        }
    },
    watch: {

        // getid:function(new_id){
        //   let _self = this;
        //   if (new_id != 0)
        //   {
        //     this.get(new_id);
        //   }
        //   else{
        //     _self.data.name = 'cargando...' ;
        //     _self.data.description = 'cargando...' ;
        //     _self.data.modaltitle = 'cargando...' ;
        

        //           }
        //         }
    },
    props: [ 'id' ],
    computed: mapGetters([
  'getid'
]),
     mounted() {
        let _self = this;
        let _$ = $;
        $('#myTab a:first').tab('show');
           $(".nav .nav-link").on("click", function(){
       $(".nav").find(".active").removeClass("active");
       $(this).addClass("active");
    });


    },
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId'
  ]),
        get(id) {
            var _self = this;
            return new Promise(function(res, rej){
                axios.get('/simplecredit/getTypeById/' + _self.getid
                ).then(function (response) {
                  $('#myTab a:first').tab('show');
                    _self.data.name = response.data.name;
                    _self.data.modaltitle = response.data.name;
                     _self.data.description = response.data.description;
                }).catch(function (error) {
                    return rej();
                });
            });
        },
        update() {

            let _$ = $;
            let _self = this;

             if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
              _self.data.modaltitle = _self.data.name;
            axios.patch('/simplecredit/contractType/' + _self.id, {
                "name": _self.data.name,
                "description": _self.data.description
            }).then(function (response) {
                if (response.status) {
                    swal({
                        title: '¡Actualizado!',
                        text: 'Se ha actualizado el registro',
                        type: 'success',
                        allowOutsideClick: false
                    }).then(function(result) {
                       _$('#table').DataTable().ajax.reload();
                       _$('#editDialog').modal('hide');

                    });
                }
            }).catch(function(error) {
                swal('¡Error!', 'Error al editar registro', 'error');
            });
          }
        }
    }
};
</script>
<style type="text/css">

.labelcase {
  font-weight: 600;
  font-size: 15px;
}


</style>
