<template>

  <div class="animated fadeIn">
    <simplert :useRadius="true"
          :useIcon="true"
          ref="simplert">
</simplert>
    <div class="mantenedortitulo">
      <h1>Solicitud de credito</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="padding:15px">
          <center> <h1>Seleccione un tipo de contrato</h1></center>
          <div class="row">
            

            <div class="col-md-4"></div>
            <div class="col-md-4" style="padding-top:30px">
             
              <select v-model="data.options_contract" @change="test" class="form-control"  id="supermarkets">   
                <option value="0">Seleccione un tipo de contrato</option>
                <option value="1">Solicitud de crédito</option>
                <option value="2">Solicitud de convenio</option>
              </select>
              
                <center>  
                  <img src="../../../../img/hand.png" v-show="image_credito"  class="animated fadeIn" style="padding-top:40px" width="200px" alt="">
                </center>
              
            </div>
            <div class="col-md-4"></div>
          </div>
          <form-wizard @on-complete="onComplete"
            title="Solicitud de crédito"
            subtitle="Favor ingrese todos los datos solictados"
            ref="wizard1"
            back-button-text="Paso anterior!"
            next-button-text="Paso siguiente!"
            finish-button-text="Enviar información"
            color="#329961"
            v-show="ccredito"  class="animated fadeIn">
            <tab-content title="Datos personales" icon="icon-user" :before-change="primerPaso">
            <center><h1 style="font-size: 2.0rem;">Antecedentes de registro</h1> </center> <br>
            <div class="row">
             <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="required">Nombre o razón social de la empresa</label>
                <input v-model="data.cname" placeholder="Ingrese nombre o razón social de la empresa" class="form-control">
                <label for="description"  class="required paddingTop30">R.U.T</label>
                <input v-model="data.crut" type="text" id="crut_empresa" placeholder="Ingrese un rut" class="form-control">
                <label for="description" class="required paddingTop30">Dirección</label>
                <input v-model="data.caddress" placeholder="Ingrese una dirección" class="form-control">
                <label for="description" class="required paddingTop30">Ciudad</label>
                <model-select :options="options"
                  v-model="item"
                  placeholder="Seleccione ciudad">
                </model-select>
                  <label for="description" class="required paddingTop30">Teléfono</label>
                    <input v-model="data.cphone" placeholder="Ingrese un teléfono" class="form-control">
                    <label for="description" class="required paddingTop30">Email</label>
                    <input v-model="data.cemail" placeholder="Ingrese un email" class="form-control">
                   
                    
            </div>
         </div>
            <div class="col-md-6">
                <div class="form-group">
                   <label for="description" class="required">Actividad</label>
                    <input v-model="data.cactivity" placeholder="Ingrese una actividad" class="form-control">
                    <label for="description" class="required paddingTop30">Nombre representante legal</label>
                    <input v-model="data.cname_representative" placeholder="Ingrese un nombre de representante legal" class="form-control">
                    <label for="description"  class="required paddingTop30">R.U.T representante legal</label>
                    <input v-model="data.crut_representative" type="text" id="crut_representante" placeholder="Ingrese un rut de representante legal" class="form-control">
                    <label for="description" class="required paddingTop30" >Factura a nombre de</label>
                    <input v-model="data.cinvoice_to_name" placeholder="Ingrese factura a nombre de" class="form-control">
                    <label for="description" class="required paddingTop30">Contacto Depto. Pagos</label>
                    <input v-model="data.ccontact" placeholder="Ingrese un contacto de departamento de pago" class="form-control">
                    
                    
                </div>
            </div>
        <!-- <div class="col-md-3">
         </div> -->
        </div>
     </tab-content>
     <tab-content title="Referencias bancarias" icon="icon-credit-card" :before-change="segundoPaso">
       <center><h1 style="font-size: 2.0rem;">Referencias bancarias</h1> </center> <br>
        <div class="row">
        
         <div class="col-md-4">
            <label for="description" class="required ">N° Cuenta</label>
             <input v-model="data.cnumber_account" placeholder="Ingrese numero de cuenta" type="number" class="form-control">
                    
        </div>
        <div class="col-md-4">
            <label for="description" class="required ">Banco</label>
            <select v-model="data.cbank"  class="form-control" id="cbank">
                      <option value="0">Seleccione un banco</option>
                       <option v-for="option, index in banks" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                    
        </div>
        <div class="col-md-4">
            <label for="description" class="required ">Tipo de cuenta</label>
               <select v-model="data.ctype_account"  class="form-control" id="ctype_account">
                      <option value="0">Seleccione un tipo de cuenta</option>
                       <option v-for="option, index in type_accounts" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                    
        </div>
            <div class="col-md-12" style="padding-top:50px">
                <center><button class="btn btn-danger" v-on:click= "addAccount">Ingresar cuenta bancaria</button></center>
            </div>  
        </div>
   
          <div class="row" style="padding-top:70px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Cuentas agregadas
        
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="ctable" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>
          
      
     </tab-content>
     <tab-content title="Referencias comerciales" icon="icon-home" :before-change="tercerPaso">
      

         <center><h1 style="font-size: 2.0rem;">Referencias comerciales</h1> </center> <br>
        <div class="row">
        
         <div class="col-md-3">
            <label for="description" class="required ">Nombre</label>
             <input v-model="data.cname_comercial" placeholder="Ingrese nombre" class="form-control">
                    
        </div>
        <div class="col-md-3">
            <label for="description" class="required ">Teléfono</label>
           <input v-model="data.cphone_comercial" placeholder="Ingrese numero de teléfono" class="form-control">
                    
        </div>
      <div class="col-md-3">
            <label for="description" class="required ">Días de pago</label>
           <select v-model="data.days_comercial"  class="form-control" id="type_account">
                      <option value="0">Seleccione días de pago</option>
                       <option v-for="option, index in days" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
            </select>
                    
        </div>
        <div class="col-md-3">
            <label for="description" class="required ">Monto crédito solicitado</label>
           <input v-model="data.cmount_comercial" type="number" placeholder="Ingrese monto credito solicitado" class="form-control">
                    
        </div>
            <div class="col-md-12" style="padding-top:50px">
                <center><button class="btn btn-danger" v-on:click="addComercialReference">Ingresar referencia comercial</button></center>
            </div>  
        </div>
   
          <div class="row" style="padding-top:70px">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Referencias comerciales agregadas
        
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="ctable_comerciales" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>
          


     </tab-content>
      <tab-content title="Espacio para uso interno" icon="icon-wallet">
       
        <center><h1 style="font-size: 2.0rem;">Espacio para uso interno</h1> </center> <br>
        <div class="row" style="padding-bottom:30px">
        
         <div class="col-md-3">
            <label for="description" class="required ">Monto solicitado</label>
             <input v-model="data.cmount" type="number" placeholder="Ingrese monto solicitado" class="form-control">
                    
        </div>
        <div class="col-md-3">
            <label for="description" class="required ">Monto Autorizado</label>
           <input v-model="data.cmount_autorizado" type="number" placeholder="Ingrese monto autorizado" class="form-control">
                    
        </div>
        <div class="col-md-3">
            <label for="description" class="required ">Días de pago</label>
           <select v-model="data.cdays"  class="form-control" id="type_account">
                      <option value="0">Seleccione días de pago</option>
                       <option v-for="option, index in days" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
            </select>
                    
                    
        </div>
        <div class="col-md-3">
            <label for="description" class="required ">Plazo de crédito</label>
           <date-picker v-model="data.cdate_place" class="" type="datetime" format="dd-MM-yyyy" lang="es"></date-picker>
                    
        </div>
       
           
        </div>


     </tab-content>
        </form-wizard>

         <form-wizard @on-complete="onComplete2"
                        title="Solicitud de convenio"
                       subtitle="Favor ingrese todos los datos solictados"
                       ref="wizard2"
                       back-button-text="Paso anterior!"
                       next-button-text="Paso siguiente!"
                       finish-button-text="Enviar información"
                       color="#329961"
                        v-show="concredito"  class="animated fadeIn">
     <tab-content title="Datos personales" icon="icon-user">
        <center><h1 style="font-size: 2.0rem;">Antecedentes de registro</h1> </center> <br>
       <div class="row">
        
         <div class="col-md-6">
            <div class="form-group">
             <label for="name" class="required">Nombre o razón social de la empresa</label>
                    <input v-model="data.conname" placeholder="Ingrese nombre o razón social de la empresa" class="form-control">
                    <label for="description"  class="required paddingTop30">R.U.T</label>
                    <input v-model="data.conrut" type="text" id="conrut_empresa" placeholder="Ingrese un rut" class="form-control">
                    <label for="description" class="required paddingTop30">Dirección</label>
                    <input v-model="data.conaddress" placeholder="Ingrese una dirección" class="form-control">
                     <label for="description" class="required paddingTop30">Ciudad</label>
                     <model-select :options="options"
                                v-model="item"
                                placeholder="Seleccione ciudad">
                  </model-select>
                  <label for="description" class="required paddingTop30">Teléfono</label>
                    <input v-model="data.conphone" placeholder="Ingrese un teléfono" class="form-control">
                    <label for="description" class="required paddingTop30">Email</label>
                    <input v-model="data.conemail" placeholder="Ingrese un email" class="form-control">
                    <label for="description" class="required paddingTop30">Actividad</label>
                    <input v-model="data.conactivity" placeholder="Ingrese una actividad" class="form-control">
                    
            </div>
         </div>
            <div class="col-md-6">
                <div class="form-group">
                  
                    <label for="description" class="required ">Nombre representante legal</label>
                    <input v-model="data.conname_representative" placeholder="Ingrese un nombre de representante legal" class="form-control">
                    <label for="description"  class="required paddingTop30">R.U.T representante legal</label>
                    <input v-model="data.conrut_representative" type="text" id="crut_representante" placeholder="Ingrese un rut de representante legal" class="form-control">
                    <label for="description" class="required paddingTop30" >Factura a nombre de</label>
                    <input v-model="data.coninvoice_to_name" placeholder="Ingrese factura a nombre de" class="form-control">
                    <label for="description" class="required paddingTop30">Contacto Depto. Pagos</label>
                    <input v-model="data.concontact" placeholder="Ingrese un contacto de departamento de pago" class="form-control">
                     <label for="description" class="required paddingTop30">Días de pago</label>
                 <select v-model="data.condays"  class="form-control" id="type_account">
                            <option value="0">Seleccione días de pago</option>
                             <option v-for="option, index in days" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                  </select>
                    <label for="description" class="required paddingTop30">Plazo de crédito</label>
            <date-picker v-model="data.condate_place" class="" type="datetime" format="dd-MM-yyyy" lang="es"></date-picker>
                    
                </div>
            </div>
        
        </div>
     </tab-content>
   
     
        </form-wizard>







        </div><!--/.col-->

    </div><!--/.row-->


  </div>
  



</div>






</template>

<script>
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import { mapGetters, mapActions } from 'vuex';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
import Simplert from 'vue2-simplert';
import qs from 'qs';
import { ModelSelect } from 'vue-search-select';

export default {
  // name: 'modals',
    data: function(){
        return {
            id: '0',
            data : {
                cname : '',
                crut : '',
                caddress : '',
                cactivity : '',
                cname_representative : '',
                crut_representative : '',
                cinvoice_to_name : '',
                ccontact : '',
                cphone : '',
                cemail : '',
                cdate : '',
                cmount : '',
                cname_comercial : '',
                cphone_comercial : '',
                cdate_comercial : '',
                cmount_comercial : '',
                cmount_autorizado : '',
                cplazo_credito:'',
                options_contract: 0,
                days_comercial : 0,
                cdays : 0,
                cdate_place : '',
                ctype_account : 0,
                cbank : 0,
                conname : '',
                conrut : '',
                conaddress : '',
                conphone : '',
                conemail : '',
                conactivity : '',
                conname_representative : '',
                conrut_representative : '',
                coninvoice_to_name : '',
                concontact : '',
                condays : 0 ,
                condate_place : ''

            },
            banks:[],
            type_accounts:[],
            days:[{
              "id" : "1",
              "name" : "15 Días"
            }],
            references_bank:[],
            references_comercial:[],
            client:[],
            company_data:[],
             ccredito : false,
             image_credito :true,
             concredito :false,
              options: [
         
        ],
        item: {
          value: '',
          text: ''
        },

             
        }
    },
    components: {
      
         FormWizard,
        TabContent,
        DatePicker,
        Simplert,
        ModelSelect
    },

   mounted() {

    let _self = this;
    let _$ = $;
    _self.getcities();
    _self.getBanks();
    _self.getTypeAccount();
     $("input#crut_representante").rut().on('rutInvalido', function(e) {
    $("input#crut_representante").focus();
        _self.data.crut_representative = '';
    _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'El rut ' + $(this).val() + ' es inválido'
              });
    
});
    $("input#crut_empresa").rut().on('rutInvalido', function(e) {
        $("input#crut_empresa").focus();
       _self.data.crut = '';
    _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'El rut ' + $(this).val() + ' es inválido'
              });
    
});
        _$('#ctable').DataTable({
          language: {
            "sProcessing":     "Procesando...",
      "sLengthMenu":     "Mostrar _MENU_ registros",
      "sZeroRecords":    "No se encontraron resultados",
      "sEmptyTable":     "Ningún dato disponible en esta tabla",
      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix":    "",
      "sSearch":         "Buscar:",
      "sUrl":            "",
      "sInfoThousands":  ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
      },
      "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
        },  
            // processing: true,
            // serverSide: true,
            bAutoWidth:false,
            data: _self.references_bank,
            columns: [
                    {
                        title: 'Numero de cuenta',
                        data: 'account_number'
                    },
                    {
                        title: 'Banco',
                        data: 'bank'
                    },
                    {
                        title: 'Tipo de cuenta',
                        data: 'type_account'
                    },
                    {
                        title: 'Eliminar',
                        data: 'options',
                        width: "10%"
                    }
                ],
                columnDefs: [
                    {
                        data: 'options',
                        targets: -1,
                        sortable: false,
                        searchable: false,
                        render: function(data, type, row) {
                            let html = '';
                            html += '<a class="btn btn-danger btn-sm deletearrayaccount" data-id="' + row.account_number + '"><i style="color:#fff" class="icon-close"></i></a>';
                            return html;
                        }
                    }
                ],



            });


        _$('#ctable_comerciales').DataTable({
          language: {
            "sProcessing":     "Procesando...",
      "sLengthMenu":     "Mostrar _MENU_ registros",
      "sZeroRecords":    "No se encontraron resultados",
      "sEmptyTable":     "Ningún dato disponible en esta tabla",
      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix":    "",
      "sSearch":         "Buscar:",
      "sUrl":            "",
      "sInfoThousands":  ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
      },
      "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
        },  
            // processing: true,
            // serverSide: true,
            bAutoWidth:false,
            data: _self.references_comercial,
            columns: [
                    {
                        title: 'Nombre',
                        data: 'name'
                    },
                    {
                        title: 'Teléfono',
                        data: 'phone'
                    },
                    {
                        title: 'Fecha pago',
                        data: 'date_pago'
                    },
                    {
                        title: 'Monto credito',
                        data: 'monto_credito'
                    },
                    {
                        title: 'Eliminar',
                        data: 'options',
                        width: "10%"
                    }
                ],
                columnDefs: [
                    {
                        data: 'options',
                        targets: -1,
                        sortable: false,
                        searchable: false,
                        render: function(data, type, row) {
                            let html = '';
                            html += '<a class="btn btn-danger btn-sm deletearraycomercial" data-id="' + row.name + '"><i style="color:#fff" class="icon-close"></i></a>';
                            return html;
                        }
                    }
                ],



            });


          $(document).on('click', '.deletearraycomercial', function(e) {
            e.preventDefault();
            _self.deleteDataComercial($(this).data('id'));
        });

        $(document).on('click', '.deletearrayaccount', function(e) {
            e.preventDefault();
            _self.deleteData($(this).data('id'));
        });


    },
  
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
      
       
        onComplete: function(){
            let _self = this;
             let _$ = $;
             if (_$.trim(_self.data.cmount) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un monto'
              });
            }
            else if (_$.trim(_self.data.cmount_autorizado) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un monto autorizado'
              });
            }
            else if (_self.data.cdays == 0){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar días de pago'
              });
            }
            else if (_$.trim(_self.data.cdate_place) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un plazo de crédito'
              });
            }
            else{
                let confirmFn = function() {
                
                 _self.client.push({
                "email" : _self.data.cname_comercial,
                "run": _self.data.crut,
                "address" :  _self.data.caddress,
                "phone" : _self.data.cphone,
                "city_id" : _self.data.cmount_comercial,
                "contract_id" : _self.data.cmount_comercial,
                "parent_client_id" : null,
                "case_id" : _self.data.cmount_comercial
            });
                  _self.company_data.cpush({
                "activity" : _self.data.cname_comercial,
                "legal_representative_name": _self.data.cphone_comercial,
                "invoice_to_name_of" :  moment(_self.data.cdate_comercial).format('DD-MM-YYYY'),
                "contact_dept_payments" : _self.data.cmount_comercial,
                "city_id" : _self.data.cmount_comercial,
                "paydays" : _self.data.cmount_comercial,
                "request_amount" : _self.data.cmount_comercial,
            });
                let sendData = qs.stringify({
                    name: _self.data.cname,
                    
                    address : _self.data.caddress,
                    activity : _self.data.cactivity,
                    name_representative : _self.data.cname_representative,
                    rut_representative : _self.data.crut_representative,
                    invoice_to_name : _self.data.cinvoice_to_name,
                    contact : _self.data.ccontact,
                    phone : _self.data.cphone,
                    email : _self.data.cemail,
                    date :  moment(_self.data.cdate).format('DD-MM-YYYY'),
                    mount : _self.data.cmount,
                    mount_autorizado : _self.data.cmount_autorizado,
                    plazo_credito : moment(_self.data.cplazo_credito).format('DD-MM-YYYY'),
                    references_bank : _self.references_bank,
                    references_comercial : _self.references_comercial
                  });

                   axios.post('/flow/cases', sendData ,
                {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }


                ).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    // _$('#table').DataTable().ajax.reload();
                                    // _$('#createdDialog').modal('hide');
                                    // _self.data.cname = '';
                                    // _self.data.description = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });




          }
          let obj = {
            title: '¿Esta seguro de realizar la solicitud?',
            message: 'Los datos no se podran actualizar durante el periodo de confirmación',
            type: 'info',
            useConfirmBtn: true,
            customConfirmBtnText: 'Continuar',
             customCloseBtnText: 'Volver',
            onConfirm: confirmFn
          }
          this.$refs.simplert.openSimplert(obj)
            }
           
        
       },
        primerPaso: function(){
            let _self = this;
             let _$ = $;
            if (_$.trim(_self.data.cname) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un nombre o razón social de la empresa'
              });
            }
            else if (_$.trim(_self.data.crut) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un rut'
              });
            }
            else if (_$.trim(_self.data.caddress) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar una dirección'
              });
            }
            else if (_$.trim(_self.item.value) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debe seleccionar una ciudad'
              });
            }
            else if (_$.trim(_self.data.cphone) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un teléfono'
              });
            }
            else if (_$.trim(_self.data.cemail) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un email'
              });
            }
            else if (_$.trim(_self.data.cactivity) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar una actividad'
              });
            }
            else if (_$.trim(_self.data.cname_representative) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un nombre de representante legal'
              });
            }
            else if (_$.trim(_self.data.crut_representative) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un rut de representante legal'
              });
            }
            else if (_$.trim(_self.data.cinvoice_to_name) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un nombre a quien va la factura'
              });
            }
            else if (_$.trim(_self.data.ccontact) == ""){
                _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar un contacto de departamento de pago'
              });
            }
            

            
            else{
            return true;
            }
          // return true;
          
        },
        segundoPaso: function(){
            let _self = this;

            if(_self.references_bank == ""){
                _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debe agregar una cuenta bancaria como minimo'
                  });
            }
            else {
                return true;
            }
            // return true;
        },
        tercerPaso: function(){
            let _self = this;

            if(_self.references_comercial == ""){
                _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debe agregar una referencia comercial como minimo'
                  });
            }
            else {
                return true;
            }
            // return true;
        },
       addAccount() {
            let _self = this;
            let _$ = $;

            if (_$.trim(_self.data.cnumber_account) == ""){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes ingresar un numero de cuenta'
                  });
            }
            else if(_self.data.cbank == 0){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes seleccionar un banco'
                  });
            }
            else if(_self.data.ctype_account == 0){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes seleccionar un tipo de cuenta'
                  });
            }
            else{
                _self.references_bank.push({
                "account_number" : _self.data.cnumber_account,
                "bank_id": _self.data.cbank,
                "bank" : $('#cbank').find(":selected").text(),
                "id_type_account" : _self.data.ctype_account,
                "type_account" : $('#ctype_account').find(":selected").text()
            });
            $('#ctable').DataTable().clear();
            $('#ctable').DataTable().rows.add(_self.references_bank);
            $('#ctable').DataTable().draw();

            _self.data.cnumber_account = '';
            _self.data.cbank = 0;
            _self.data.ctype_account = 0;
            }
        
        },
        deleteData(id){
            let _self = this;
            let _$ = $;

           

            let confirmFn = function() {
             _$.each(_self.references_bank, function(value, key) {
                for(var i = 0; i < _self.references_bank.length; i++) {
                    if(_self.references_bank[i].account_number == id) {
                        _self.references_bank.splice(i, 1);
                        break;
                     }
                 }
            });
             $('#ctable').DataTable().clear();
            $('#ctable').DataTable().rows.add(_self.references_bank);
            $('#ctable').DataTable().draw();
          }
          let obj = {
            title: '¿Esta seguro de borrar la referencia de banco?',
            message: 'Si elimina el dato , tendra que volver a ingresarlo nuevamente',
            type: 'info',
            useConfirmBtn: true,
            customConfirmBtnText: 'Continuar',
             customCloseBtnText: 'Volver',
            onConfirm: confirmFn
          }
          this.$refs.simplert.openSimplert(obj)
           
        },
        addComercialReference(){

            let _self = this;
            let _$ = $;

            if (_$.trim(_self.data.cname_comercial) == ""){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes ingresar un nombre'
                  });
            }
            else if (_$.trim(_self.data.cphone_comercial) == ""){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes ingresar un numero de teléfono'
                  });
            }
            else if (_$.trim(_self.data.days_comercial) == 0){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes seleccionar un dia de pago'
                  });
            }
             else if (_$.trim(_self.data.cmount_comercial) == ""){
                 _self.$toast.error({
                  title: 'Datos Faltantes',
                   message: 'Debes ingresar un monto comercial'
                  });
            }
            else{
                _self.references_comercial.push({
                "name" : _self.data.cname_comercial,
                "phone": _self.data.cphone_comercial,
                "date_pago" :  moment(_self.data.cdate_comercial).format('DD-MM-YYYY'),
                "monto_credito" : _self.data.cmount_comercial
            });
            $('#ctable_comerciales').DataTable().clear();
            $('#ctable_comerciales').DataTable().rows.add(_self.references_comercial);
            $('#ctable_comerciales').DataTable().draw();

            _self.data.cname_comercial = '';
            _self.data.cphone_comercial = '';
            _self.data.cdate_comercial = '';
            _self.data.cmount_comercial = '';
           
            }
        },
        deleteDataComercial(id){
            let _self = this;
            let _$ = $;
             let confirmFn = function() {
           _$.each(_self.references_comercial, function(value, key) {
                for(var i = 0; i < _self.references_comercial.length; i++) {
                    if(_self.references_comercial[i].name == id) {
                        _self.references_comercial.splice(i, 1);
                        break;
                     }
                 }
            });
             $('#ctable_comerciales').DataTable().clear();
            $('#ctable_comerciales').DataTable().rows.add(_self.references_comercial);
            $('#ctable_comerciales').DataTable().draw();
          }
          let obj = {
            title: '¿Esta seguro de eliminar la referencia comercial?',
            message: 'Si elimina el dato , tendra que volver a ingresarlo nuevamente',
            type: 'info',
            useConfirmBtn: true,
            customConfirmBtnText: 'Continuar',
             customCloseBtnText: 'Volver',
            onConfirm: confirmFn
          }
          this.$refs.simplert.openSimplert(obj)
            
        },
        test(value){
          let _self = this;
          let option = _self.data.options_contract;
          if (option == 0){
            _self.ccredito = false;
            _self.concredito = false;
            this.$refs.wizard1.reset();
            _self.cleanWizard1();
            _self.cleanWizard2();
            _self.image_credito = true;

            
          } else 
          if (option == 1){
             //_self.cleanWizard1();
              this.$refs.wizard2.reset();
            _self.cleanWizard2();
            _self.ccredito = true;
            _self.image_credito = false;
             _self.concredito = false;
            
          } else
          if (option == 2){
             _self.cleanWizard1();
              this.$refs.wizard1.reset();
            //_self.cleanWizard2();
            _self.ccredito = false;
            _self.concredito = true;
            _self.image_credito = false;
          }
         
         
        },
        getcities(){
                let _self = this;
                let _$ = $;
                    axios.get('/surveys/cities/list')
                   .then(function (response) {
                   console.log(response.data);
                    _$.each(response.data.message, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.city_name
                      });
                    });
                    
                   }).catch(function(error) {

                   });

      },
      cleanWizard1(){
        let _self = this;
        _self.references_bank = [];
         $('#ctable').DataTable().clear();
            $('#ctable').DataTable().rows.add(_self.references_bank);
            $('#ctable').DataTable().draw();
            _self.references_comercial = [];
             $('#ctable_comerciales').DataTable().clear();
            $('#ctable_comerciales').DataTable().rows.add(_self.references_comercial);
            $('#ctable_comerciales').DataTable().draw();
                _self.data.cname = '';
                _self.data.crut = '';
                _self.data.caddress = '';
                _self.data.cactivity = '';
                _self.data.cname_representative = '';
                _self.data.crut_representative = '';
                _self.data.cinvoice_to_name = '';
                _self.data.ccontact = '';
                _self.data.cphone = '';
                _self.data.cemail = '';
                _self.data.cdate = '';
                _self.data.cmount = '';
                _self.data.cnumber_account = '';
                _self.data.ctype_account = 0;
                _self.data.cbank = 0;
                _self.data.cmount_autorizado = '';
                _self.data.cplazo_credito='';
                _self.data.days_comercial = 0;
                _self.data.cdays = 0;
                _self.data.cdate_place = '';
                // _self.item.value = '';
                 
      },
      cleanWizard2(){
        let _self = this;
        _self.data.conname = '';
        _self.data.conrut = '';
        _self.data.conaddress = '';
        _self.data.conphone = '';
        _self.data.conemail = '';
        _self.data.conactivity = '';
        _self.data.conname_representative = '';
        _self.data.conrut_representative = '';
        _self.data.coninvoice_to_name = '';
        _self.data.concontact = '';
        _self.data.condays = 0;
        _self.data.condate_place = '';
      },
      onComplete2: function(){
        let _self = this;

      },
      getBanks() {
               let _self = this;
                     axios.get('/simplecredit/banks/list/1/0')
                     .then(function (response) {

                     _self.banks = response.data;
                    
                     }).catch(function(error) {

                     });
           },
            getTypeAccount() {
               let _self = this;
                     axios.get('/simplecredit/account-type/list/1/0')
                     .then(function (response) {

                     _self.type_accounts = response.data;
                                        }).catch(function(error) {

                     });
           }


    }
};
</script>
<style type="text/css">
    .mx-datepicker{
        width: 100% !important;
    }
 .fade-enter-active, 
 .fade-leave-active {
  transition: opacity 10s
}



</style>