<template>

  <div class="animated fadeIn">
  
    <h1 style="padding-bottom:40px">Ofertas informativas <i class="icon-check" style="color:#86C25E"></i></h1>
    <div class="row">

      <div class="col-sm-1 col-lg-1">

      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-primary">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveAngol}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveAngol}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Angol<br>
            <a class="carda" data-toggle="collapse" href="#collapse1">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-success">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveLaja}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveLaja}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Laja<br>
            <a class="carda" data-toggle="collapse" href="#collapse1">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-danger">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveAngeles}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveAngeles}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Los Ángeles<br>
            <a class="carda" data-toggle="collapse" href="#collapse1">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-warning">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveMulchen}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveMulchen}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Mulchén<br>
            <a class="carda" data-toggle="collapse" href="#collapse1">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-info">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveSanta}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveSanta}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Santa Bárbara<br>
            <a class="carda" data-toggle="collapse" href="#collapse1">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-1 col-lg-1">

      </div>

    </div><!--/.row-->

      <div class="row">
        <div class="col-md-12">
          <div class="card" >
            <div class="card-header">
              Detalle Ofertas informativas
              <!-- <button type="button" class="btn btn-danger pull-right" data-toggle="collapse" href="#collapse1"><i class="icon-plus"></i>&nbsp;Menos detalles</button> -->
              <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
            </div>

        <div class="col-md-12 table-responsive panel-collapse collapse" id="collapse1" style="padding:40px">
          <table id="tableinformative" class=" table table-bordered table-hover table-options "></table>
        </div>
      </div>

      </div>
      </div>



    <h1 style="padding-bottom:40px">Productos destacados del mes <i class="icon-check" style="color:#86C25E"></i></h1>
    <div class="row">

      <div class="col-sm-1 col-lg-1">

      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-primary">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveAngol1}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveAngol1}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Angol<br>
            <a class="carda" data-toggle="collapse" href="#collapse2">Mas detalles</a>
          </p>


          </div>


        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-success">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveLaja1}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveLaja1}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Laja<br>
            <a class="carda" data-toggle="collapse" href="#collapse2">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-danger">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveAngeles1}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveAngeles1}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Los Ángeles<br>
            <a class="carda" data-toggle="collapse" href="#collapse2">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-warning">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveMulchen1}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveMulchen1}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Mulchén<br>
            <a class="carda" data-toggle="collapse" href="#collapse2">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-6 col-lg-2">
        <div class="card card-inverse card-info">
          <div class="card-block pb-0">


            <h3 class="mb-0">{{data.counterActiveSanta1}} <span style="font-size:14px"> activas</span></h3>
              <h3 class="mb-0">{{data.counterDesactiveSanta1}} <span style="font-size:14px"> Desactivas</span></h3>
            <p>Santa Bárbara<br>
            <a class="carda" data-toggle="collapse" href="#collapse2">Mas detalles</a>
          </p>


          </div>

        </div>
      </div>
      <div class="col-sm-1 col-lg-1">

      </div>

    </div><!--/.row-->
    <div class="row">
      <div class="col-md-12">
        <div class="card" >
          <div class="card-header">
            Detalle Ofertas informativas
            <!-- <button type="button" class="btn btn-danger pull-right" data-toggle="collapse" href="#collapse1"><i class="icon-plus"></i>&nbsp;Menos detalles</button> -->
            <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
          </div>

      <div class="col-md-12 table-responsive panel-collapse collapse" id="collapse2" style="padding:40px">
        <table id="tableinformative1" class=" table table-bordered table-hover table-options "></table>
      </div>
    </div>

    </div>
    </div>



  </div>
</template>

<script>
/*import CardLine1ChartExample from './dashboard/CardLine1ChartExample'
import CardLine2ChartExample from './dashboard/CardLine2ChartExample'
import CardLine3ChartExample from './dashboard/CardLine3ChartExample'
import CardBarChartExample from './dashboard/CardBarChartExample'
import MainChartExample from './dashboard/MainChartExample'
import SocialBoxChartExample from './dashboard/SocialBoxChartExample'*/

import { dropdown } from 'vue-strap'
/*import ICountUp from 'vue-countup-v2';*/
import moment from 'moment';

export default {
  data: function(){
      return {
        data: {
            counterActiveAngol: '0',
            counterDesactiveAngol: '0',
            counterActiveLaja: '0',
            counterDesactiveLaja: '0',
            counterActiveSanta: '0',
            counterDesactiveSanta: '0',
            counterActiveAngeles: '0',
            counterDesactiveAngeles: '0',
            counterActiveMulchen: '0',
            counterDesactiveMulchen: '0',
            counterActiveAngol1: '0',
            counterDesactiveAngol1: '0',
            counterActiveLaja1: '0',
            counterDesactiveLaja1: '0',
            counterActiveSanta1: '0',
            counterDesactiveSanta1: '0',
            counterActiveAngeles1: '0',
            counterDesactiveAngeles1: '0',
            counterActiveMulchen1: '0',
            counterDesactiveMulchen1: '0'

        },
          id: '0',
      }
  },
  name: 'demo',
  name: 'dashboard',
  components: {
    // ICountUp,
    // CardLine1ChartExample,
    // CardLine2ChartExample,
    // CardLine3ChartExample,
    // CardBarChartExample,
    // MainChartExample,
    // SocialBoxChartExample,
    // dropdown
  },

    mounted() {
         let _self = this;
         let _$ = $;
         _self.getofertainformativasActivas(1, 1, 1);
         _self.getofertainformativasActivas(1, 2, 1);
         _self.getofertainformativasActivas(1, 3, 1);
         _self.getofertainformativasActivas(1, 4, 1);
         _self.getofertainformativasActivas(1, 5, 1);
          _self.getofertainformativasActivas(1, 1, 0);
           _self.getofertainformativasActivas(1, 2, 0);
            _self.getofertainformativasActivas(1, 3, 0);
             _self.getofertainformativasActivas(1, 4, 0);
              _self.getofertainformativasActivas(1, 5, 0);
              _self.getofertainformativasActivas(2, 1, 1);
              _self.getofertainformativasActivas(2, 2, 1);
              _self.getofertainformativasActivas(2, 3, 1);
              _self.getofertainformativasActivas(2, 4, 1);
              _self.getofertainformativasActivas(2, 5, 1);
               _self.getofertainformativasActivas(2, 1, 0);
                _self.getofertainformativasActivas(2, 2, 0);
                 _self.getofertainformativasActivas(2, 3, 0);
                  _self.getofertainformativasActivas(2, 4, 0);
                   _self.getofertainformativasActivas(2, 5, 0);


         _$('#tableinformative').DataTable({
           language: {
             "sProcessing":     "Procesando...",
             "sLengthMenu":     "Mostrar _MENU_ registros",
             "sZeroRecords":    "No se encontraron resultados",
             "sEmptyTable":     "Ningún dato disponible en esta tabla",
             "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
             "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
             "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
             "sInfoPostFix":    "",
             "sSearch":         "Buscar:",
             "sUrl":            "",
             "sInfoThousands":  ",",
             "sLoadingRecords": "Cargando...",
             "oPaginate": {
                 "sFirst":    "Primero",
                 "sLast":     "Último",
                 "sNext":     "Siguiente",
                 "sPrevious": "Anterior"
             },
             "oAria": {
                 "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                 "sSortDescending": ": Activar para ordenar la columna de manera descendente"
             }
         },
            // searching: false,
             processing: true,
             serverSide: true,
             bAutoWidth:false,
             // ordering: false,
             // info: false,
             // "paging":false,
             ajax: "listdasboard/1",
             columns: [

                     {
                         title: 'Imagen',
                         data: 'path',
                         width: '10%'
                     },
                     {
                         title: 'Fecha Inicio',
                         data: 'init_date',
                         width: '15%'
                     },
                     {
                         title: 'Fecha Fin',
                         data: 'end_date',
                         width: '15%'
                     },
                     {
                         title: 'Supermercados',
                         data: 'supermarkets',
                         width: '55%'
                     },
                     {
                         title: 'Estado',
                         data: 'status',
                         width: "5%"
                     },

                 ],
                 columnDefs: [
                   {
                     targets : 0 ,
                     data: 'path',
                     render: function ( url, type, full) {
                     return '<center><img height="50px" src="/storage/'+full.path+'"/></center>';
                   }
                   },
                   {
                     targets : 1 ,
                     data: 'init_date',
                     render: function (data, type, row) {
                     return moment(row.init_date).format('DD-MM-YYYY HH:mm');
                   }
                   },
                   {
                     targets : 2 ,
                     data: 'end_date',
                     render: function (data, type, row) {
                     return moment(row.end_date).format('DD-MM-YYYY HH:mm');
                   }
                   },

                   {
                     targets : 3 ,
                     data: 'supermarkets',
                     render: function ( data, type, row) {
                     var supermarket = "";
                       // console.log(data);
                       $.each(data ,function(key, value){
                         supermarket += value.name +' '+'-'+' ';

                       });
                       return supermarket.slice(0, -2);
                   }
                   },
                     {
                         data: 'status',
                         targets: 4,
                         sortable: true,
                         searchable: true,
                         render: function(data, type, row) {
                             let color = '';
                             let text = '';
                             if (row.status) {
                                 color = 'success';
                                 text = 'Activo';
                             } else if (!row.status) {
                                 color = 'danger';
                                 text = 'Inactivo';
                             } else {
                                 color = 'info';
                                 text = 'Sin información';
                             }
                             return '<center><span class="badge badge-'+color+'">' + text + '</span></center>';
                         }
                     }
                 ],



             });
             _$('#tableinformative1').DataTable({
               language: {
                 "sProcessing":     "Procesando...",
                 "sLengthMenu":     "Mostrar _MENU_ registros",
                 "sZeroRecords":    "No se encontraron resultados",
                 "sEmptyTable":     "Ningún dato disponible en esta tabla",
                 "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                 "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                 "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                 "sInfoPostFix":    "",
                 "sSearch":         "Buscar:",
                 "sUrl":            "",
                 "sInfoThousands":  ",",
                 "sLoadingRecords": "Cargando...",
                 "oPaginate": {
                     "sFirst":    "Primero",
                     "sLast":     "Último",
                     "sNext":     "Siguiente",
                     "sPrevious": "Anterior"
                 },
                 "oAria": {
                     "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                     "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                 }
             },
                // searching: false,
                 processing: true,
                 serverSide: true,
                 bAutoWidth:false,
                 // ordering: false,
                 // info: false,
                 // "paging":false,
                 ajax: "listdasboard/2",
                 columns: [

                         {
                             title: 'Imagen',
                             data: 'path',
                             width: '10%'
                         },
                         {
                             title: 'Fecha Inicio',
                             data: 'init_date',
                             width: '15%'
                         },
                         {
                             title: 'Fecha Fin',
                             data: 'end_date',
                             width: '15%'
                         },
                         {
                             title: 'Supermercados',
                             data: 'supermarkets',
                             width: '55%'
                         },
                         {
                             title: 'Estado',
                             data: 'status',
                             width: "5%"
                         },

                     ],
                     columnDefs: [
                       {
                         targets : 0 ,
                         data: 'path',
                         render: function ( url, type, full) {
                         return '<center><img height="50px" src="/storage/'+full.path+'"/></center>';
                       }
                       },
                       {
                         targets : 1 ,
                         data: 'init_date',
                         render: function (data, type, row) {
                         return moment(row.init_date).format('DD-MM-YYYY HH:mm');
                       }
                       },
                       {
                         targets : 2 ,
                         data: 'end_date',
                         render: function (data, type, row) {
                         return moment(row.end_date).format('DD-MM-YYYY HH:mm');
                       }
                       },

                       {
                         targets : 3 ,
                         data: 'supermarkets',
                         render: function ( data, type, row) {
                         var supermarket = "";
                           // console.log(data);
                           $.each(data ,function(key, value){
                             supermarket += value.name +' '+'-'+' ';

                           });
                           return supermarket.slice(0, -2);
                       }
                       },
                         {
                             data: 'status',
                             targets: 4,
                             sortable: true,
                             searchable: true,
                             render: function(data, type, row) {
                                 let color = '';
                                 let text = '';
                                 if (row.status) {
                                     color = 'success';
                                     text = 'Activo';
                                 } else if (!row.status) {
                                     color = 'danger';
                                     text = 'Inactivo';
                                 } else {
                                     color = 'info';
                                     text = 'Sin información';
                                 }
                                 return '<center><span class="badge badge-'+color+'">' + text + '</span></center>';
                             }
                         }
                     ],



                 });


     },
     methods: {
         getofertainformativasActivas(id_type, id_supermarket ,status) {

           var _self = this;

           return new Promise(function(res, rej){
               axios.get('counteractive/' + id_type + '/' + id_supermarket + '/'+ status
               ).then(function (response) {
                 if(status==1){
                   if(id_type == 1){

                   if(id_supermarket == 1){
                     _self.data.counterActiveAngol = response.data;
                   }
                   else if(id_supermarket == 2){
                     _self.data.counterActiveLaja = response.data;
                    }
                  else if(id_supermarket == 3){
                    _self.data.counterActiveAngeles = response.data;
                     }
                  else if(id_supermarket == 4){
                    _self.data.counterActiveMulchen = response.data;
                    }
                    else if(id_supermarket == 5){
                      _self.data.counterActiveSanta = response.data;
                    }
                 } else if(id_type == 2){

                 if(id_supermarket == 1){
                   _self.data.counterActiveAngol1 = response.data;
                 }
                 else if(id_supermarket == 2){
                   _self.data.counterActiveLaja1 = response.data;
                  }
                else if(id_supermarket == 3){
                  _self.data.counterActiveAngeles1 = response.data;
                   }
                else if(id_supermarket == 4){
                  _self.data.counterActiveMulchen1 = response.data;
                  }
                  else if(id_supermarket == 5){
                    _self.data.counterActiveSanta1 = response.data;
                  }
               }
               } else if(status == 0){
                   if(id_type == 1){

                   if(id_supermarket == 1){
                     _self.data.counterDesactiveAngol = response.data;
                   }
                   else if(id_supermarket == 2){
                     _self.data.counterDesactiveLaja = response.data;
                    }
                  else if(id_supermarket == 3){
                    _self.data.counterDesactiveAngeles = response.data;
                     }
                  else if(id_supermarket == 4){
                    _self.data.counterDesactiveMulchen = response.data;
                    }
                    else if(id_supermarket == 5){
                      _self.data.counterDesactiveSanta = response.data;
                    }
                 } else if(id_type == 2){

                 if(id_supermarket == 1){
                   _self.data.counterDesactiveAngol1 = response.data;
                 }
                 else if(id_supermarket == 2){
                   _self.data.counterDesactiveLaja1 = response.data;
                  }
                else if(id_supermarket == 3){
                  _self.data.counterDesactiveAngeles1 = response.data;
                   }
                else if(id_supermarket == 4){
                  _self.data.counterDesactiveMulchen1 = response.data;
                  }
                  else if(id_supermarket == 5){
                    _self.data.counterDesactiveSanta1 = response.data;
                  }
               }
                 }
               }).catch(function (error) {
                   return rej();
               });
           });
         }
       },
}
</script>
