<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevo Clientes</h4>
  </div>
  <div class="modal-body modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="padding-left:50px;padding-right:50px;padding-bottom:50px">
              <h4>Información personal</h4>
                <label for="name" class="required paddingTop30">Rut</label>
                <input v-model="data.rut" placeholder="Ingrese rut de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Primer Nombre</label>
                <input v-model="data.firstName" placeholder="Ingrese primer nombre de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Segundo Nombre</label>
                <input v-model="data.secondName" placeholder="Ingrese segundo nombre de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Apellido Paterno</label>
                <input v-model="data.fatherSurname" placeholder="Ingrese apellido paterno de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Apellido Materno</label>
                <input v-model="data.motherSurname" placeholder="Ingrese apellido materno de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Address</label>
                <input v-model="data.address" placeholder="Ingrese dirección de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Ciudad</label>
                <select v-model="data.city"  class="form-control" id="city">
                  <option value="0">Seleccione ciudad</option>
                  <option v-for="option, index in cities" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                <label for="description" class="required paddingTop30">email</label>
                <input v-model="data.email" placeholder="Ingrese email de cliente" class="form-control">
                <label for="description" class="required paddingTop30">Teléfono</label>
                <input v-model="data.phone" placeholder="Ingrese teléfono de cliente" class="form-control">
                 <label for="description" class="required paddingTop30">Industria</label>
                <select v-model="data.industry"  class="form-control" id="supermarket">
                  <option value="0">Seleccione industria</option>
                  <option v-for="option, index in industries" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select> 
                <h4 class="paddingTop30">Información Crédito</h4>
                <label for="description" class="required paddingTop30">Monto</label>
                <input v-model="data.credit" placeholder="Ingrese saldo a cliente" class="form-control">
                  
                  <div class="row">

                <div class="col-md-6">

                  <label for="dateinit" class="required paddingTop30">Ingrese fecha inicio de crédito</label>
                    <date-picker v-model="data.dateinit" type="datetime" format="dd-MM-yyyy HH:mm" lang="es"></date-picker>
                </div>

                <div class="col-md-6">
                  <label for="dateend" class="required paddingTop30">Ingrese fecha fin de crédito</label>
                  <date-picker v-model="data.dateend" type="datetime" format="dd-MM-yyyy HH:mm" lang="es"></date-picker>
                </div>
              </div>
                
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
export default {
    data: function(){
        return {
            data: {
                rut: '',
                firstName: '',
                secondName: '',
                fatherSurname: '',
                motherSurname: '',
                address: '',
                city: 0,
                email: '',
                phone: '',
                industry: 0,
                credit: '',
                dateinit : '',
                dateend : ''
            }
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });
    },
    components : {
      DatePicker
    },
    methods : {
        store() {
            console.log("dvagfdasgsdf");
        },
        clean() {
         
        }
    }
};
</script>
