<template>

  <div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Clientes crédito simple</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Listado de clientes crédito simple
            <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".bd-create-modal-lg"><i class="icon-plus"></i>&nbsp;Crear nuevo cliente</button>
            <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>
  <div class="modal fade bd-create-modal-lg " id="createdDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <create></create>
    </div><!-- /.modal-content -->
  </div>
</div>

<div class="modal fade bd-edit-modal-lg modal-body2" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <edit :id="this.id"></edit>
  </div><!-- /.modal-content -->
</div>
</div>

</div>






</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import create from './Create.vue';
import edit from './Edit.vue';


export default {
  // name: 'modals',
    data: function(){
        return {
            id: '0',

        }
    },
    components: {
        edit,
        create
    },

   mounted() {
    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
        disable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Inhabilitar",
                text: "¿Está seguro que desea inhabilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.delete('supermarket/' + id,
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se desactivó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al inhabilitar',
                                'error'
                                );
                        });
                    });
                }
            });
        },
        enable(id) {
            let _$ = $;
            var _self = this;
            swal({
                title: "Habilitar",
                text: "¿Está seguro que desea habilitar este registro?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                showLoaderOnConfirm: true,
                allowOutsideClick: false,
                allowEscapeKey: false,
                preConfirm: function() {
                    return new Promise(function(res, rej){
                        axios.delete('supermarket/' + id,
                        ).then(function (response) {
                            _$('#table').DataTable().ajax.reload();
                            if (response.data.status) {
                                swal({
                                    title: '¡Acción existosa!',
                                    text: 'Se activó el registro',
                                    type: 'success'
                                }).then(function(result) {

                                });
                            }
                        }).catch(function (error) {
                            swal(
                                '¡Error!',
                                'Error al activar',
                                'error'
                                );
                        });
                    });
                }
            });
        }

    }
};
</script>
