<template>
  <footer class="app-footer">
    <a class="afooter" href="http://supermercadounico.cl">Supermercado Unico</a> &copy; 2018.

  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
