<template>
  <navbar>
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button" @click="mobileSidebarToggle">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
      <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggler" href="#" @click="sidebarToggle">&#9776;</a>
      </li>
      
    </ul>
    
    <ul class="nav navbar-nav ml-auto" style="margin-right:40px;">

      <dropdown size="nav" class="nav-item" style="margin-right:40px !important;">
        <span slot="button">
          
       <span class="hidden-md-down"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{data.number}}</span></span>
    
        </span>
        <div slot="dropdown-menu"class="dropdown-menu dropdown-menu-right">

          <div class="dropdown-header text-center"><strong>Notificaciones</strong></div>

      
          <div class="divider"></div>

          <a class="dropdown-item" href="/flow/cases" v-for="item in notification"><i class="fa fa-check"></i> Tienes una nueva solicitud de aprobación </a>
        </div>
      </dropdown>

      
      <dropdown size="nav" class="nav-item" >
        <span slot="button">
          
          <span class="hidden-md-down" id="username_data">{{data.username}}</span>
        </span>
        <div slot="dropdown-menu"class="dropdown-menu dropdown-menu-right">

          <div class="dropdown-header text-center"><strong>Configuración</strong></div>

      
          <div class="divider"></div>

          <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Cerrar Sesión</a>
        </div>
      </dropdown>
     
    </ul>
  </navbar>
</template>
<script>

import navbar from './Navbar'
import { dropdown } from 'vue-strap'

export default {
  props: ['user_id'],
  name: 'header',
  data(){
    return {
      data: {
           username: this.user_id,
           number:''
      },
      notification:[]
        
    }
  },
  components: {
    navbar,
    dropdown
  },
 mounted: function() {
  let _self = this;
  _self.getUsername();
  _self.getNotification();
  _self.getnumber();
  },
  methods: {
    click () {
      // do nothing
    },
    sidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-hidden')
    },
    mobileSidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-mobile-show')
    },
    asideToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('aside-menu-hidden')
    },
    getUsername(){

       let _self = this;

         axios.get('/administration/access-control/'+_self.user_id)
         .then(function (response) {
          _self.data.username = response.data[0].user_data.ud_first_name +' '+response.data[0].user_data.ud_father_surname;
          console.log(response.data[0]);
         }).catch(function(error) {

         });
    },
    getNotification() {
               let _self = this;
                     axios.get('/flow/cases/list-top5')
                     .then(function (response) {

                     _self.notification = response.data.message;
                      console.log(_self.notification);
                     }).catch(function(error) {

                     });
           },
    getnumber() {
               let _self = this;
                     axios.get('/flow/cases/list-count')
                     .then(function (response) {
                      if (response.data.message == 0){

                      }else{
                        _self.data.number = response.data.message;
                      }
                                          

                     }).catch(function(error) {

                     });
           },
  }
}
</script>

<style lang="css">

.caret {
  
}
</style>

<!-- {{ Auth::user()->id }} -->



<!-- <template>
  <navbar>
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button" @click="mobileSidebarToggle">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
      <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggler" href="#" @click="sidebarToggle">&#9776;</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link" href="#">Settings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item hidden-md-down">
        <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" href="#"><i class="icon-list"></i></a>
      </li>
      <li class="nav-item hidden-md-down">
        <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
      </li>
      <dropdown size="nav" class="nav-item">
        <span slot="button">
          <img src="static/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="hidden-md-down">admin</span>
        </span>
        <div slot="dropdown-menu"class="dropdown-menu dropdown-menu-right">

          <div class="dropdown-header text-center"><strong>Account</strong></div>

          <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>

          <div class="dropdown-header text-center"><strong>Settings</strong></div>

          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
          <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
          <div class="divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
          <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
        </div>
      </dropdown>
      <li class="nav-item hidden-md-down">
        <a class="nav-link navbar-toggler aside-menu-toggler" href="#" @click="asideToggle">&#9776;</a>
      </li>
    </ul>
  </navbar>
</template>
<script>
import navbar from './Navbar'
import { dropdown } from 'vue-strap'
export default {
  name: 'header',
  components: {
    navbar,
    dropdown
  },
  methods: {
    click () {
      // do nothing
    },
    sidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-hidden')
    },
    mobileSidebarToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('sidebar-mobile-show')
    },
    asideToggle (e) {
      e.preventDefault()
      document.body.classList.toggle('aside-menu-hidden')
    }
  }
}
</script>

<style lang="css">
.dropdown-toggle::after {
  /*display: none !important;*/
}
</style> -->