<template>
  <div class="app flex-row" style="background-color:#4dbd74">
    <div class="container">
      <div class="row">
        <h1 style="color:#fff">Bienvenido</h1>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card card-inverse card-primary animated zoomIn">
            <div class="card-block">
              <a href="#" style="color:#fff" class="animated zoomIn"><center><i  class="fa fa-question-circle" style="font-size:70px" aria-hidden="true"></i></center></a>
             <center> <h2 style="font-weight:300">Helpesk</h2></center>
            </div>
         </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-inverse card-primary animated zoomIn">
            <div class="card-block">
              <a href="#" style="color:#fff" class="animated zoomIn"><center><i  class="fa fa-question-circle" style="font-size:70px" aria-hidden="true"></i></center></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 
    data: function(){
        return {
            data: {
               
            }
        }
    },
    mounted: function(){
     
    },
    methods : {
        // login() {
        //     let _self = this;
        //     let _$ = $;

        //     if( _$.trim(_self.data.correo) == ""){
        //       _self.$toast.error({
        //      title: 'Datos Faltantes',
        //       message: 'Debes ingresar un correo'
        //      });
        //     }
        //     else if( _$.trim(_self.data.password) == ""){
        //       _self.$toast.error({
        //      title: 'Datos Faltantes',
        //       message: 'Debes ingresar un password'
        //      });
        //     }
        //     else {
        //         axios.post('/administration/signIn', {
        //             email: _self.data.correo,
        //             password : _self.data.password
        //         }).then(function (response) {
        //               console.log(response);
        //               if (response.data.state == 0 ){
        //                   _self.$toast.error({
        //      title: 'Problemas de inicio de sesión',
        //       message: 'Correo o contraseña invalidos'
        //      });
        //               }
        //               else{
        //                 window.location.href = response.data.redirect;
        //               }

                      

        //                 }).catch(function(error) {
        //                     // swal('¡Error!', 'Error al ingresar registro', 'error');
        //                 });


        //     }
        
        // clean() {
        //    let _self = this;
        //   _self.data.name = '';
        //   _self.data.description = '';
        // }
    }
};

</script>

