<template>
  <div>

    <div class="row">
        <div class="col-md-10">
          <h1 style="color:#FFF">{{data.title}}</h1>
        </div>
        <div class="col-md-2">
          <button class="pull-right button50" data-toggle="modal" data-target=".bd-create-modal-lg" type="button" name="button"><i style="font-size:40px" class="icon-plus"></i></button>
        </div>


    </div>

    <div class="row flex-row flex-nowrap">
      <div v-for="(list, listName) in items" class="col-3">
        <div class="panel" style="background-color:#e2e4e6;padding:5px;border-radius: 5px;margin:20px">
            <div class="panel__heading">
              <h3 style="text-align:center;font-weight: 300 !important;">{{listName}}</h3>
            </div>
            <div class="panel__body"  style="background: #e2e4e6;min-height: 60px;">
            <vddl-list class="panel__body--list p2"  style="min-height: 60px;" v-bind:id="listName"

                  :list="list"
                  :inserted="handleInserted"
                  :dragover="handleDragover"
                  :drop="handleDrop"
                  :horizontal="false">
                  <vddl-draggable class="panel__body--item" style="background-color:#fff;margin:5px;border-radius: 3px;padding-left:20px;padding-right:20px;padding-bottom:10px;padding-top:10px;cursor: pointer"  v-for="(item, index) in list" :key="item.id"
                   
                    :index="index"
                    :wrapper="list"
                    effect-allowed="move"
                    :type="listName"
                    :selected="selectedEvent"
                    :dragstart="handleDragstart"
                    :dragend="handleDragend"
                    :canceled="handleCanceled"
                    :moved="handleMoved"
                    v-bind:class="{'selected': selected === item}">
                <span class="pull-left"><i class="icon-user"></i> {{item.user}}</span><span class="pull-right">  <span>N° </span> {{item.id}}</span><br>
                  <span> <i class="icon-note" v-bind:class="item.prioridad"></i> {{item.description}}</span>    <br>
                  <span class=""><i class="icon-login"></i>  {{item.init_date}}</span> <br>
                      <span class="" v-bind:class="item.class"><i class="icon-clock"></i>  {{item.estimated_date}}</span>
                      <span hidden> {{item.fecha_estimada}}</span>
                      <span hidden> {{item.responsable}}</span>
                      <span hidden> {{item.paso_siguiente}}</span>
                     <!-- <a class="btn btn-success btn-sm search" data-id="1" data-toggle="modal" data-target=".bd-search-modal-lg"><i style="color:#fff" class="icon-pencil">Detalles</i></a> -->
                  </vddl-draggable>
                  <!-- <vddl-placeholder id="123" style="
                  background-color:rgba(255,255,255,.5);
                  position: relative;
                  font-size:30px;
                  font-weight:300;
                  color:rgb(75, 191, 107);
                  text-align:center;
                  vertical-align: middle;

                  margin-left:5px;
                  margin-right:5px;
                  min-height:100px;
                  border-style: dashed;
                  border-width: 2px;
                  border-color:rgba(75, 191, 107,1)"
                  >Arrastre aqui!</vddl-placeholder> -->
              </vddl-list>


            </div>
        </div>
      </div>
    </div>
<!-- data-backdrop="static" data-keyboard="false" -->
    <div class="modal fade bd-search-modal-lg"  id="searchDialog"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <search :id="this.id"></search>
      </div><!-- /.modal-content -->
    </div>
    </div>

    <div class="modal fade bd-create-modal-lg " id="createdDialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <create :userid="this.user_id"></create>
      </div><!-- /.modal-content -->
    </div>
  </div>





  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import search from './SearchUser.vue';
import create from './CreateBoardsUser.vue';
import Vddl from 'vddl';
import moment from 'moment';
import VueSocketio from 'vue-socket.io';
Vue.use(VueSocketio, 'https://192.168.1.179:3000');
export default {
  props: ['user_id'],
  data(){
    return {
      data: {
          title: 'cargando...',
          success:true,
          danger:false

      },
        id: '0',
      "selected": null,
      items:{},
      itemes_id:[],
      itemes:[],
      index:0,
      placeholder:0,
      next_flow:0,
      flowinit:0,
      flowend:0,
      boardid:0,
      fechas:'',
      empleados:''



    }
  },
  components: {
      search,
      create

  },
  sockets:{
  connect: function(){
    console.log('socket connected');
  },
  server_emit1: function(data){
    let _self = this;    // client.emit('server_emit1', 123);
    console.log(data);
   _self.listall();
    // const { index, list, item } = data;
    // list.splice(index, 0, item);
  },

  server_emit2: function(val){
           console.log(val);
  }

},
  watch: {

    getstatus:function(new_statuss){
      let _self = this;
      if(new_statuss == 1){
          _self.listall();
          _self.cleanStatuss();
      }

        },
  },
  mounted: function() {
    let _self = this;
    let _$ = $;
    _self.listall();
    // this.$options.sockets.event_name = (data) => {
    //     console.log(data)
    // },
    this.$socket.on('sendPackage:SendPackageEvent', function(message) {
      console.log('hola');
    });
    // _$("#closeModal").click(function() {
    //
    //   _self.cleanFreshId();
    //
    //   $('.bd-search-modal-lg').modal('hide');
    //
    // });

    _$('.bd-search-modal-lg').on('hide.bs.modal', function (e) {
      _self.cleanFreshId();
  });

  // $(document).on('click', '.search', function(e) {
  //   e.preventDefault();
  //     _self.id = $(this).data('id');
  //     _self.setFreshId($(this).data('id'));
  //     console.log('hello');
  // });

  },
  computed: mapGetters([
    'getstatus'
  ]),

    methods: {

        ...mapActions([
    'cleanFreshId',
    'setFreshId',
    'cleanStatuss'


  ]),
    selectedEvent: function(item){
      let _self = this;
      let _$ = $;
      this.selected = item;
       // console.log(item.id);

          _self.id = item.id;
  _self.setFreshId(item.id);
           setTimeout(function(){

           _$('.bd-search-modal-lg').modal('show');
         }, 300);
    },
    handleDragstart() {
      // console.log(':v-draggable: dragstart');
    },
    handleDragend() {
      // console.log(':v-draggable: dragend');
    },
    handleCanceled() {
      console.log(':v-draggable: canceled');
    },
    handleInserted() {
      // console.log(':v-list: inserted');
    },
    handleDrop(data) {
      // console.log(data);
      let _self = this;
      let mensaje = '';
      let usuario = $("#username_data").text();
      _self.placeholder = data.event.path[0].id;
      _self.flowinit = data.type;
      _self.flowend = data.event.path[1].id;
      _self.boardid = 1;
      _self.fechas = data.item.fecha_estimada;
      _self.empleados = data.item.responsable;

      if (_self.placeholder == "123"){


            axios.get('/helpdesk/flowscheck/'+_self.flowinit+'/'+_self.flowend +'/'+_self.boardid).then(function (response) {
              if(response.data == ""){

                _self.$toast.error({
                title: 'Error de desplazamiento',
                 message: 'No se puede realizar el salto de '+data.type + ' a ' + data.event.path[1].id
                });

              }
              else if (_self.fechas == null) {
                _self.$toast.error({
                title: 'Fecha estimada',
                 message: 'Antes de mover el ticket debe agregar fecha estimada'
                });
              }
              else if (_self.empleados == null){
                _self.$toast.error({
                title: 'Responsable',
                 message: 'Antes de mover el ticket debe agregar un responsable'
                });
              }
              else
              {

                axios.patch('/helpdesk/casehasflow/' + data.item.id, {
                    "id_siguiente": response.data[0].id_siguiente,
                    "comment": "dasdasdadsd"
                }).then(function (response) {


                  // console.log(data);
                    // _self.$socket.emit('client_event1', data);

                    // const { index, list, item } = data;
                    // list.splice(index, 0, item);
                    _self.$socket.emit('client_event1', "1");

                    });


                    mensaje = usuario + ' ha movido el ticket de ' + _self.flowinit + ' a '+_self.flowend;
                    axios.post('/helpdesk/comment', {
                            case_id: data.item.id,
                            description :mensaje
                        }).then(function (response) {


                                }).catch(function(error) {

                                });

              }
            }).catch(function (error) {

            });

      }
      else
      {
         _self.$toast.error({
         title: 'Error de posicionamiento',
          message: 'Debe agregar el ticket sobre el recuadro'
         });
        _self.placeholder = 0;
      }

    },
    handleMoved(item) {
      // console.log(item);
      // const { index, list } = item;
      // list.splice(index, 1);
      let _self = this;
      // console.log(item);
      if(_self.placeholder == "123"){

      axios.get('/helpdesk/flowscheck/'+_self.flowinit+'/'+_self.flowend +'/'+_self.boardid).then(function (response) {
          if(response.data == ""){
          }
          else if (_self.fechas == null){

          }
          else if (_self.empleados == null){
          }
          else {
            // console.log(item);
            // const { index, list } = item;
            // list.splice(index, 1);
          }
        }).catch(function (error) {

        });



      }
      else {

      }

    },
    handleDragover() {
      // console.log(':v-list: handleDragover');
    },

    listall(){
      let _self = this;
      let _$ = $;
      _self.items = {};
      _self.itemes_id = [];
      _self.itemes=[];
            axios.get('/helpdesk/alldata/1/'+ _self.user_id).then(function (response) {
              _self.data.title = response.data.data[0].board.name;

            _$.each(response.data.data, function(value, key) {
              _$.each(key.cases, function(value, key2) {
                // console.log(key2);
                // console.log(key);
                let color = '';
                let estimated_dates = '';
                let prioridad = '';

                if (key2.estimated_date == null)
                {
                 color = "badge badge-info";
               }
               else if( moment(key2.estimated_date).format('YYYY-MM-DD h:mm') >= moment().format('YYYY-MM-DD h:mm'))
               {
                 color = "badge badge-success";

               }
               else
               {
                 color = "badge badge-danger";
               }

               if(key2.estimated_date == null){
                 estimated_dates = 'Sin Fecha estimada';
               }
               else {
                 estimated_dates = key2.estimated_date;
               }

               if(key2.prioridad == "Alta"){
                 prioridad = "Palta"
               }
               else if(key2.prioridad == "Media"){
                 prioridad = "Pmedia"
               }
               else if(key2.prioridad == "Baja"){
                 prioridad = "Pbaja"
               }
                _self.itemes.push({
                    "id": key2.id,
                    "description":key2.problema,
                    "init_date": key2.init_date,
                    "estimated_date": estimated_dates,
                    "class":color,
                    "prioridad":prioridad,
                    "user":key2.usuario,
                    "fecha_estimada":key2.estimated_date,
                    "responsable":key2.responsible_id,
                    "paso_siguiente" : key.siguiente
                  });


              });

              _self.$set(_self.items,key.description_step,_self.itemes);
              // _self.$set(_self.items,key.description_step,_self.itemes);

                // _self.$set(_self.itemes_id,key.id,_self.itemes_id);
              // // _self.itemes
              _self.itemes = [];


               });
            console.log(_self.items);
               var contenedor = document.getElementById('contenedor_carga');
               contenedor.style.position = 'fixed';
               contenedor.style.visibility = 'hidden';
               contenedor.style.opacity = '0';

            }).catch(function(error) {

            });
    },

    // OnAdd(evt){
    //   console.log("evt");
    // }
  },

};
</script>
