<template>
  <div class="">
    <div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevo ticket</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="required">Seleccione Empleado</label>
                <select v-model="data.clients"  class="form-control" id="employees">
                      <option value="0">Seleccione el empleado del requerimiento</option>
                       <option v-for="option, index in clients" v-bind:value="option.id" :selected="option.id == data.id">{{option.user_data.ud_first_name+' '+ option.user_data.ud_father_surname +' '+ option.user_data.ud_mother_surname}}</option>
                </select>
                <label for="description" class="required paddingTop30">Seleccione Supermercado</label>
                <select v-model="data.supermarket"  class="form-control" id="supermarket">
                      <option value="0">Seleccione el supermercado</option>
                       <option v-for="option, index in supermarkets" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                <!-- <label for="description" class="required paddingTop30">Selecione tablero</label>
                <select v-model="data.board"  class="form-control" id="board">
                      <option value="0">Seleccione el tablero al que ira dirigido el ticket</option>
                       <option v-for="option, index in boards" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select> -->
                <label for="description" class="required paddingTop30">Seleccione tipo de problema</label>
                <select v-model="data.type"  class="form-control" id="type">
                      <option value="0">Seleccione tipo de problema</option>
                       <option v-for="option, index in type" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                <label for="description" class="required paddingTop30">Seleccione un problema</label>
                <select v-model="data.problem"  class="form-control" id="problem" disabled>
                      <option value="0">Seleccione un problema</option>
                       <option v-for="option, index in problems" v-bind:value="option.id" :selected="option.id == data.id">{{option.name}}</option>
                </select>
                <label for="description" class="required paddingTop30">Escriba una descripción</label>
                <textarea v-model="data.descripcion" class="form-control" id="textarea" rows="3"></textarea>
                <label for="description" class="required paddingTop30">Agrege alguna imagen adjunta (opcional)</label>
                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
            </div>
        </div>
    </div>
  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-success pull-right"  v-on:click= "sendFiles">Ingresar</button>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';
import moment from 'moment';
export default {
  data: function(){
      let _self = this;
        return {
            data: {
                name: '',
                description: '',
                clients:0,
                board:0,
                supermarket:0,
                type:0,
                problem:0
            },
            clients:[],
            supermarkets:[],
            boards:[],
            type:[],
            problems:[],
            dropzoneOptions: {

                url: '/helpdesk/cases',
                thumbnailWidth: 100,
                thumbnailHeigth: 100,
                autoProcessQueue: false,
                maxFilesize: 20,
                maxFiles: 20,
                uploadMultiple: true,
                parallelUploads: 100,
                addRemoveLinks: true,
                acceptedFiles: '.png , .jpg',
                dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> ARRASTRA ARCHIVOS AQUI PARA SUBIR PNG O JPG",
                headers: { "x-csrf-token": Laravel.csrfToken },
                init: function () {
                               this.on("maxfilesexceeded", function(file){
                                 alert("No more files please!");
                                 this.removeFile(file);
                                 // console.log(this.getUploadingFiles().length);
                                 console.log(this.getQueuedFiles().length);

                                });
                                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                this.on("complete", function (file) {
                               
                                      swal({
                                          title: '¡Ingresado!',
                                          text: 'Se ha ingresado el ticket',
                                          type: 'success',
                                          allowOutsideClick: false
                                      }).then(function(result) {
                                      _self.data.clients = '0';
                                      _self.data.supermarket = '0';
                                      _self.data.type = '0';
                                      _self.data.problem = '0';
                                      _self.data.descripcion = '';
                                      _self.$refs.myVueDropzone.removeAllFiles();
                                        $('#createdDialog').modal('hide');
                                        _self.$socket.emit('client_event1', "1");
                                      });
                                  
                                  });
                              }
                                  }
            }
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getclients();
      _self.getSupermarket();
      // _self.getBoard();
      _self.getTypeProblem();
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();

    });

    $('#type').on('change.select', function(e) {
      if(_self.data.type == 0){
          $('#problem').attr('disabled','active');
      }else{
          $('#problem').removeAttr('disabled');
      }
            _self.getProblem(_self.data.type);
        });
    },
    components:{
      vueDropzone: vue2Dropzone
    },
    methods : {
      ...mapActions([
  'setStatuss'
]),
        store() {
            let _self = this;
            let _$ = $;

            if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
                axios.post('/helpdesk/board', {
                    name: _self.data.name,
                    description : _self.data.description
                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _self.$socket.emit('client_event1', "1");
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.description = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.name = '';
          _self.data.description = '';
        },

    getclients(){
                let _self = this;
                   axios.get('/administration/access-control/list/1')
                   .then(function (response) {
                   _self.clients = response.data;
                   }).catch(function(error) {

                   });

    },
    getSupermarket(){
      let _self = this;
         axios.get('../unitv/supermarket/active')
         .then(function (response) {
         _self.supermarkets = response.data;
         }).catch(function(error) {

         });
    },
    getBoard(){
      let _self = this;
         axios.get('/helpdesk/board/listactive')
         .then(function (response) {
         _self.boards = response.data;
         }).catch(function(error) {

         });
    },
    getTypeProblem(){
      let _self = this;
         axios.get('/helpdesk/typeproblem/listactive')
         .then(function (response) {
         _self.type = response.data;
         }).catch(function(error) {

         });
    },
    getProblem(id){
      let _self = this;
         axios.get('/helpdesk/problem/listactive/'+id)
         .then(function (response) {
         _self.problems = response.data;
         _self.data.problem = 0;
         }).catch(function(error) {

         });
    },
    sendingEvent (file, xhr, formData) {
        let _self = this;

          formData.append('name', _self.data.descripcion);
          formData.append('init_date',moment().format('YYYY-MM-DD HH:mm'));
          formData.append('supermarket_id',_self.data.supermarket);
          formData.append('problem_id', _self.data.problem);
          formData.append('user_id', _self.data.clients);
          formData.append('username',$("#username_data").text());

     },
     sendFiles () {
       let _self = this;
       let _$ = $;
       let username = $("#username_data").text();
       
       // if (_self.data.supermarket == "0"){
       //   _self.$toast.error({
       //  title: 'Datos Faltantes',
       //   message: 'Debes seleccionar un supermercado'
       //  });
       // }
       // else if( _$.trim(_self.data.dateinit) == ""){
       //   _self.$toast.error({
       //  title: 'Datos Faltantes',
       //   message: 'Debes agregar una fecha de inicio'
       //  });
       // }
       if (this.$refs.myVueDropzone.getQueuedFiles() == ""){

         if( _self.data.clients == 0){
          _self.$toast.error({
         title: 'Datos Faltantes',
          message: 'Debe seleccionar un usuario'
         });
       }else  if(_self.data.supermarket == 0){
         _self.$toast.error({
        title: 'Datos Faltantes',
         message: 'Debe seleccionar un supermercado'
        });
      } else  if(_self.data.problem == 0){
        _self.$toast.error({
       title: 'Datos Faltantes',
        message: 'Debes seleccionar un problema'
       });
     } else  if( _$.trim(_self.data.descripcion) == ""){
       _self.$toast.error({
      title: 'Datos Faltantes',
       message: 'Debes ingresar una descripción'
      });
    }else{
      axios.post('/helpdesk/cases', {
          name:  _self.data.descripcion,
          init_date : moment().format('YYYY-MM-DD HH:mm'),
          supermarket_id : _self.data.supermarket,
          problem_id : _self.data.problem,
          user_id : _self.data.clients,
          username : username,
      }).then(function (response) {

          if (response.status) {
              swal({
                          title: '¡Ingresado!',
                          text: 'Se ha ingresado el registro',
                          type: 'success',
                          allowOutsideClick: false
                      }).then(function(result) {
                          _self.data.clients = '0';
                          _self.data.supermarket = '0';
                          _self.data.type = '0';
                          _self.data.problem = '0';
                          _self.data.descripcion = '';



                        _self.$socket.emit('client_event1', "1");
                        $('#createdDialog').modal('hide');
                      });
                  }
              }).catch(function(error) {
                  swal('¡Error!', 'Error al ingresar registro', 'error');
              });
    }




       }
       else {

         this.$refs.myVueDropzone.processQueue();
         const $a = this.$refs.myVueDropzone.getAcceptedFiles();
      

       }
     }
    },

};
</script>
