<template lang="html">
  <div class="">
    <select v-model="data.sresponsable"  class="form-control" id="selectResponsables">
          <option value="0">Seleccione una opción</option>
           <option v-for="option, index in responsables" v-bind:value="option.id" :selected="option.id == data.id">{{option.user.name}}</option>

    </select> <br>
    <textarea name="name" class="form-control" v-model="data.test" rows="8" cols="80"></textarea>
    <button type="button" class="btn btn-success" name="button" @click.prevent="asignarResponsable">Agregar</button> <br>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
export default {
  data: function() {
      return {
        // msg: `This is a button.`,
          data: {
            sresponsable:0,
            test:"ñañañaña"
          },

          responsables:[]
      }

  },
  components:{
    DatePicker
  },
  mounted: function(){
    let _$ = $;
    let _self = this;
    _self.getResponsables(1);
  },
  methods:{
    getResponsables(idBoard){
         let _self = this;
         axios.get('listresponsiblesActive/'+idBoard).then(function (response) {
           console.log(response);
        _self.responsables = response.data;
         }).catch(function(error) {

         });
    }
  }
}
</script>

<style lang="css">
</style>
