<template>
  <div class="">
  <div class="modal-header">
    <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h4 class="modal-title h4modal pull-left"><i class="icon-note"></i> {{data.problem}} </h4>
      </div>
      <div class="col-md-3">
        <h4 class="modal-title h4modal pull-right">N° {{data.idCase}} </h4>
      </div>
    </div>
</div>
  </div>
  <div class="modal-body modal-body2">
      <div class="container">
    <div class="row">

        <div class="col-md-8">
            <!-- <div class="form-group"> -->
                <label class="modalLabel"><i class="icon-user icon-label"></i> Usuario solicitante</label> <label class="modalLabel2">: {{data.user}}</label> <br>
                <label class="modalLabel"><i class="icon-envelope-open icon-label"></i> Correo</label>  <label class="modalLabel2"> : {{data.correoSolicitante}}</label> <br>
                <label class="modalLabel"><i class="icon-basket icon-label"></i> Supermercado</label>  <label class="modalLabel2"> : {{data.supermercado}}</label> <br>
                <label class="modalLabel"><i class="icon-directions icon-label"></i> Flujo</label>  <label class="modalLabel2"> : {{data.flujo}}</label> <br>
                <label class="modalLabel"><i class="icon-people icon-label"></i> Responsable</label>  <label class="modalLabel2"> : {{data.responsable}}</label> <br>
                <label class="modalLabel"><i class="icon-login icon-label"></i> Fecha Inicio</label>  <label class="modalLabel2"> : {{data.fecha_inicio}}</label> <br>
                <label class="modalLabel"><i class="icon-logout icon-label"></i> Fecha Fin</label>  <label class="modalLabel2"> : {{data.fecha_fin}}</label> <br>
                <label class="modalLabel"><i class="icon-check icon-label"></i> Fecha Estimada</label>  <label class="modalLabel2"> : {{data.fecha_estimada}}</label> <br>
                <label class="modalLabel"><i class="icon-menu icon-label"></i> Tipo Problema</label>  <label class="modalLabel2"> : {{data.tipo_problema}}</label> <br>
                <label class="modalLabel"><i class="icon-note icon-label"></i> Problema</label>  <label class="modalLabel2"> : {{data.problema}}</label> <br>
                <label class="modalLabel"><i class="icon-exclamation icon-label"></i> Prioridad</label>  <label class="modalLabel2"> : {{data.prioridad}}</label> <br>
                <label class="modalLabel"><i class="icon-notebook icon-label"></i> Descripción</label> <br>  <label class="modalLabel2">  {{data.descripcion}}</label> <br>



            <!-- </div> -->
        </div>
        <div class="col-md-4" style="">



  <br><br>
   <h4 class="modalh4" style="padding-bottom:5px;font-size:18px"><i class="icon-doc"></i> Adjunto</h4>
  <a v-for="value2 in attachedFiles" v-bind:href="/storage/+value2.path" target="_blank">{{value2.description}}<br></a> 
</div>

        <div class="col-md-12">

            <label class="modalLabel"><i class="icon-notebook icon-label"></i> Comentarios</label> <br>
         <span v-for="value in comments">
            <strong> {{ value.created_at}}</strong>  {{ value.description }} <br>
            </span>

        </div></div>
</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
/*import VueFormComponents from 'vue-form-components';*/
export default {

    data: function() {
        return {
          msg: `This is a button.`,
          placement: 'bottom-center',
          isAutoHiding: true,
      isEnabled: true,
      seen: false,
        seen2: false,
            data: {
                name: 'cargando...',
                description: 'cargando...',
                problem: 'cargando...',
                idCase: 'cargando...',
                user: 'cargando...',
                correoSolicitante: 'cargando...',
                supermercado: 'cargando...',
                flujo: 'cargando...',
                responsable: 'cargando...',
                fecha_inicio : 'cargando...',
                fecha_fin : 'cargando...',
                fecha_estimada : 'cargando...',
                tipo_problema : 'cargando...',
                problema : 'cargando...',
                descripcion : 'cargando...',
                prioridad : 'cargando...',
                imageSrc: ''






            },

           
            comments:[],
            attachedFiles:[]
        }

    },
    components:{
      DatePicker,
      /*VueFormComponents*/

    },
    watch: {

        getid:function(new_id){
          let _self = this;
          if (new_id != 0)
          {
            this.get(new_id);
          }
          else{
            _self.data.user = 'cargando...' ;
            _self.data.correoSolicitante = 'cargando...' ;
            _self.data.supermercado = 'cargando...' ;
            _self.data.flujo = 'cargando...' ;
            _self.data.responsable = 'cargando...' ;
            _self.data.fecha_inicio = 'cargando...' ;
            _self.data.fecha_fin = 'cargando...' ;
            _self.data.fecha_estimada = 'cargando...' ;
            _self.data.tipo_problema = 'cargando...' ;
            _self.data.problema = 'cargando...' ;
            _self.data.descripcion = 'cargando...' ;
            _self.data.prioridad = 'cargando...' ;
            _self.data.sresponsable = 0;


                  }
                }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
    },
    props: [ 'id' ],
    computed: mapGetters([
  'getid'
]),
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId',
    'setStatuss'
  ]),
        get(id) {
            var _self = this;
            let responsable = '';
            let color_responsable = '';
            let fecha_fin = '';
            let fecha_estimada = '';
            return new Promise(function(res, rej){
                axios.get('/helpdesk/detailsticket/' + _self.getid
                ).then(function (response) {

                  if (response.data.user_responsible == " ")
                  {
                      _self.seen2 = false;
                      responsable = "Sin responsable asignado";
                  }
                  else
                  {
                      _self.seen2 = true;
                      responsable = response.data.user_responsible;
                  }
                  if (response.data.end_date == null){
                    fecha_fin = "No se ha finalizado el ticket"
                  }
                  else{
                    fecha_fin = response.data.end_date;
                  }
                  if(response.data.estimated_date == null)
                  {
                    _self.data.dateinit = '';
                    fecha_estimada = 'Sin fecha estimada asignada';
                      _self.seen = false;
                  }
                  else {
                    _self.seen = true;
                    _self.data.dateinit = response.data.estimated_date;
                    fecha_estimada = response.data.estimated_date;
                  }

                  _self.data.problem = response.data.problem.name;
                  _self.data.idCase = response.data.id;
                  _self.data.user = response.data.nombre_user;
                  _self.data.correoSolicitante = response.data.Email;
                  _self.data.supermercado = response.data.supermarket.name;
                  _self.data.flujo = response.data.flow[0].description_step;
                  _self.data.responsable = responsable;
                  _self.data.fecha_inicio = response.data.init_date;
                  _self.data.fecha_fin = fecha_fin;
                  _self.data.fecha_estimada = fecha_estimada;
                  _self.data.tipo_problema = response.data.problem.tipo_problema;
                  _self.data.problema = response.data.problem.name;
                  _self.data.descripcion = response.data.name;
                  _self.data.prioridad = response.data.problem.prioridad;
                  
                 _self.comments = response.data.comment;
                  _self.attachedFiles = response.data.attached;
                 
                  _self.comments = response.data.comment;


                }).catch(function (error) {
                    return rej();
                });
            });
        },
        update() {

            let _$ = $;
            let _self = this;

             if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
              _self.data.modaltitle = _self.data.name;
            axios.patch('/helpdesk/board/' + _self.id, {
                "name": _self.data.name,
                "description": _self.data.description
            }).then(function (response) {
                if (response.status) {
                    swal({
                        title: '¡Actualizado!',
                        text: 'Se ha actualizado el registro',
                        type: 'success',
                        allowOutsideClick: false
                    }).then(function(result) {
                       _$('#table').DataTable().ajax.reload();
                       _$('#editDialog').modal('hide');

                    });
                }
            }).catch(function(error) {
                swal('¡Error!', 'Error al editar registro', 'error');
            });
          }
        }
    }
};
</script>
