<template>

  <div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Construcción de contrato</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">

      <div class="col-md-4">
          
      <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="personales-tab" data-toggle="tab" href="#personales" role="tab" aria-controls="personales" aria-selected="true">Encabezados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="bancarias-tab" data-toggle="tab" href="#bancarias" role="tab" aria-controls="bancarias" aria-selected="false">Articulos</a>
  </li>
  
</ul>

<div class="tab-content" id="myTabContent" style=" background-color: rgb(77, 189, 116)">

  <div class="tab-pane fade show active" id="personales" role="tabpanel" aria-labelledby="personales-tab">
    <div class="row">
      <div class="drag container">
        <center><h1 style="font-size: 2rem;color:#fff">Encabezados</h1></center>
          <draggable v-model="list" class="dragArea"  :options="dragOptions" id="dcontract_header" @change="change" :move="onMoveCallback">
            <div v-for="element in list" v-if="element.type == 'Header'" id="contract_header" style="padding-top:15px;">
            <div style="height:100%;width:100%;border: 0.5px solid #FFF;padding:15px;background-color:rgba(77, 189, 116);color:#fff;border-radius: 5px;" > 
                 {{element.body}}
            </div>
           
            </div>
          </draggable>
      </div>
         
    </div>
    
    
  </div>

  <div class="tab-pane fade show active" id="bancarias" role="tabpanel" aria-labelledby="bancarias-tab">
     <div class="row">
      <div class="drag container">
        <center><h1 style="font-size: 2rem;color:#fff">Articulos</h1></center>
          <draggable v-model="list" class="dragArea"  :options="dragOptions" id="dcontract_header" @change="change" :move="onMoveCallback">
            <div v-for="element in list" v-if="element.type == 'Article'" id="contract_header" style="padding-top:15px;">
          <div style="height:100%;width:100%;border: 0.5px solid #FFF;padding:15px;background-color:rgba(77, 189, 116);color:#fff;border-radius: 5px;" > 
                 {{element.body}}
            </div>
           
            </div>
          </draggable>
      </div>
         
    </div>
    
    
  </div>


  
</div>

        </div>
          <div class="col-md-8">

            <div class="drag container" style=" background-color: rgb(77, 189, 116);top-padding:15px">
               <center><h1 style="font-size:1rem;color:#FFF">BORRADOR</h1></center>
               <center><h1 style="font-size:1rem;color:#FFF">09.04.2018</h1></center> 
               <center><h1 style="font-size:1rem;color:#FFF">CONVENIO DE CRÉDITO</h1></center> 
               <center><h1 style="font-size:1rem;color:#FFF">KUNCAR Y COMPAÑIA LIMITADA</h1></center> 
               <center><h1 style="font-size:1rem;color:#FFF">Y</h1></center> 
               <center><h1 style="font-size:1rem;color:#FFF">ASOCIACION DE FUNCIONARIOS DE LA SALUD MUNICIPALIZADA DE LOS ÁNGELES</h1></center>
          <draggable v-model="list2" class="dragArea"  :options="dragOptions" id="dcontract_header" @change="change" :move="onMoveCallback">
            <div v-for="element in list2" id="dcontract_full" style="padding-top:15px;">
             <div style="height:100%;width:100%;border: 0.5px solid #FFF;padding:15px;background-color:rgba(77, 189, 116);color:#fff;border-radius: 5px;" > 
                 {{element.body}}
            </div>
           
            </div>
          </draggable>
      </div>
          <!-- <div class="drag" style="background-color:#37465D;height:100%;border: 0.5px solid #91B095;color:#F2F2F2">
             <center><span>BORRADOR</span></center>
              <center><span>09.04.2018</span></center> 
               <center><span>CONVENIO DE CRÉDITO</span></center> 
               <center><span>KUNCAR Y COMPAÑIA LIMITADA</span></center> 
               <center><span>Y</span></center> 
               <center><span>ASOCIACION DE FUNCIONARIOS DE LA SALUD MUNICIPALIZADA DE LOS ÁNGELES</span></center>
            <draggable v-model="list2" class="dragArea" id="dcontract_full"  :options="dragOptions" @change="change" :move="onMoveCallback">
            <div v-for="element in list2" id="contract_full" style="padding-top:15px;">
           
               <div style="height:100%;width:100%;border: 0.5px solid #F2F2F2;padding:15px;background-color:#F2F2F2;color:#37465D;border-radius: 5px;" > 
                 {{element.body}}
            </div>
            </div>
            </draggable>
           </div> -->
        </div>

     


    </div>
 



</div>






</template>

<script>
import draggable from 'vuedraggable';
import { mapGetters, mapActions } from 'vuex';



export default {
  // name: 'modals',
    data: function(){
        return {
            id: '0',
             list: [{
      id: "1",
      number: "1",
      type: "Header",
      body: "PARTES DEL CONVENIO DE CRÉDITO."
    },{
      id: "2",
      number: "2",
      type: "Header",
      body: "OBJETO DEL CONVENIO DE CRÉDITO."
    },{
      id: "3",
      number: "3",
      type: "Header",
      body: "PROCEDIMIENTO DE COMPRA."
    },{
      type: "Article",
      body: "KUNCAR Y COMPAÑÍA LIMITADA, es una empresa dedicada a la explotación de supermercados, entre los que se encuentran supermercado Único en Mulchén y supermercado Único Mayorista, ubicados en calle Villagrán Nº 790, Mulchén y en calle O’Higgins Nº 795, Los Ángeles, respectivamente."
    },{
      type: "Article",
      body: "Por su parte, la ASOCIACIÓN DE FUNCIONARIOS DE LA SALUD MUNICIPALIZADA DE LOS ÁNGELES (AFUSAM LA), es una organización que reúne a los trabajadores de la atención primaria municipal de salud, de la I. Municipalidad de Los Ángeles."
    }
    ,{
      type: "Article",
      body: "Por este acto, e instrumento KUNCAR Y COMPAÑÍA LIMITADA, otorgará un beneficio a los asociados de la ASOCIACIÓN DE FUNCIONARIOS DE LA SALUD MUNICIPALIZADA DE LOS ÁNGELES (AFUSAM LA), consistente en la posibilidad de efectuar compras en cualquiera de los establecimientos referidos en la cláusula Primera, pagándose el precio de las mismas por medio de descuento en sus respectivas planillas de remuneraciones."
    }],
    list2: [
    {
      id: "2",
      number: "2",
      body: "PARTES DEL CONVENIO DE CRÉDITO.",
      type:"Header",
      header_id:""
    }
    ]
        }
    },
    components: {
       
        draggable
    },

   mounted() {
        let _self = this;
        let _$ = $;
         $('#myTab a:first').tab('show');
         $(".nav .nav-link").on("click", function(){
       $(".nav").find(".active").removeClass("active");
       $(this).addClass("active");
    });

        _$('.bd-edit-modal-lg').on('hidden.bs.modal', function (e) {
          _self.cleanFreshId();
      });

    
    },
    computed:{
      dragOptions () {
      return  {
        animation: 0,
        group: 'description',
        ghostClass: 'ghost'
      };
    },
    },

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
    add: function() {
      this.list.push({
        name: 'Juan'
      });
    },
    replace: function() {
      this.list = [{
        name: 'Edgard'
      }]
    },
    change: function(evt) {
      console.log(evt);
      console.log(evt.added.element.number);
      // let _self = this;
      // console.log(_self.list);
    },
    getComponentData() {
         return {
        on: {
          change: function() {
            console.log('change')
            }
        }
        
      }
    },
    update(evt) {
      console.log(evt.added);
      console.log(evt.added.element.number);
              },
    onMoveCallback : function(evt, originalEvent){
       let _self = this;
       //console.log(evt);
       let init_number = evt.draggedContext.index;
       let end_number = evt.draggedContext.futureIndex;
       return true;
     },
       
    deleteList1(body){
      let _self = this;
      let _$ = $;
      _$.each(_self.list, function(value, key) {

      for(var i = 0; i < _self.list.length; i++) {
      if(_self.list[i].body == body) {
        _self.list.splice(i, 1);
        break;
                                }
                            }
    });

     }
  }
};
</script>
<style type="text/css">
 .nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle {
    color: #fff;
    background: rgb(77, 189, 116);

    /* border-color: #cfd8dc; */
    /* border-bottom-color: #fff; */
}

.nav-tabs .nav-link.active:focus, .nav-tabs .navbar .active.dropdown-toggle:focus, .navbar .nav-tabs .active.dropdown-toggle:focus {
    background: rgb(77, 189, 116);
    border: 0px;
}
</style>