<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nuevo Usuario</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="required">Email</label>
                <input v-model="data.email" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Rut</label>
                <input v-model="data.run" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Primer Nombre</label>
                <input v-model="data.first_name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Segundo Nombre</label>
                <input v-model="data.second_name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Apellido Paterno</label>
                <input v-model="data.father_surname" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Apellido Materno</label>
                <input v-model="data.mother_surname" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
import qs from 'qs';
export default {
    data: function(){
        return {
            data: {
                email: '',
                run: '',
                first_name: '',
                second_name: '',
                father_surname: '',
                mother_surname: ''
            }
        }
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if( _$.trim(_self.data.email) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un email'
             });
            }
            else if( _$.trim(_self.data.run) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un RUT'
             });
            }
            else if( _$.trim(_self.data.first_name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un primer nombre'
             });
            }
            else if( _$.trim(_self.data.second_name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un segundo nombre'
             });
            }
            else if( _$.trim(_self.data.father_surname) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un apellido paterno'
             });
            }
            else if( _$.trim(_self.data.mother_surname) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un apellido materno'
             });
            }
            else {

              // let dataUser = [];

              // dataUser.push({
              //       "ud_run": _self.data.run,
              //       "ud_first_name":_self.data.first_name,
              //       "ud_second_name": _self.data.second_name,
              //       "ud_father_surname": _self.data.father_surname,
              //       "ud_mother_surname":_self.data.mother_surname
              //     });
              // _self.$set(_self.items,key.description_step,_self.itemes);
              let sendData = qs.stringify({
                  email : _self.data.email,
                  user_data : {
                    ud_run: _self.data.run,
                    ud_first_name:_self.data.first_name,
                    ud_second_name: _self.data.second_name,
                    ud_father_surname: _self.data.father_surname,
                    ud_mother_surname:_self.data.mother_surname
                  }
                  });
              // let user_datas = JSON.stringify({
              //       ud_run: _self.data.run,
              //       ud_first_name:_self.data.first_name,
              //       ud_second_name: _self.data.second_name,
              //       ud_father_surname: _self.data.father_surname,
              //       ud_mother_surname:_self.data.mother_surname
              //     });

                axios.post('/administration/access-control', sendData ,
                {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    }


                ).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.description = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
        clean() {
           let _self = this;
          _self.data.email = '';
          _self.data.run = '';
          _self.data.first_name = '';
          _self.data.second_name = '';
          _self.data.father_surname = '';
          _self.data.mother_surname = '';
        }
    }
};
</script>
