<template>
<div class="animated fadeIn">

    <div class="mantenedortitulo">
      <h1>Generar nueva encuesta</h1>
    </div>
    <!-- <button class="btn btn-success pull-right">Nuevo tipo de caso</button> -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Generar nueva encuesta
            <!-- <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".bd-create-modal-lg"><i class="icon-plus"></i>&nbsp;Crear nuevo problema</button> -->
            <!-- <button type="button" class="btn btn-danger pull-right" @click="editModal = true">Launch demo modal</button> -->
          </div>
          <div class="card-block">
            <div class="col-md-12">
             <div class="form-group">
              <label for="name" class="required">Ingrese nombre de encuesta</label>
                <input v-model="data.sur_name" placeholder="Ingrese nombre de encuesta" class="form-control">
                <label for="description" class="required paddingTop30">Seleccione un usuario</label>
                <basic-select :options="options"
                :selected-option="item"
                placeholder="select item"
                @select="onSelect">
                </basic-select>

                <label for="description" class="required paddingTop30">Seleccione un supermercado</label>
                <select v-model="data.supermarket"  class="form-control" id="supermarket">
                      <option value="0">Seleccione un supermercado</option>
                       <option v-for="option, index in supermarket" v-bind:value="option.id" :selected="option.id == data.id">{{option.com_name}}</option>
                </select>
                <label for="description" class="required paddingTop30">Seleccione una sucursal</label>
                <select v-model="data.sucursal"  class="form-control" id="branchs" disabled>
                      <option value="0">Seleccione una sucursal</option>
                       <option v-for="option, index in branch" v-bind:value="option.id" :selected="option.id == data.id">{{option.branch_name}}</option>
                </select>

                <label for="description" class="required paddingTop30">Ingrese archivo excel</label>
              <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
              <br>
                        
            
            </div>
            <button class="btn btn-success pull-right"  v-on:click= "sendFiles">Ingresar</button>
           
            <!-- <div class="row">
              <div class="col-md-12 table-responsive">
                <table id="table" class=" table table-bordered table-hover table-options "></table>
              </div>
            </div> -->
             </div>
          </div>
        </div><!--/.col-->

    </div><!--/.row-->


  </div>


</div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { BasicSelect } from 'vue-search-select'
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';

export default {
  // name: 'modals',
     data: function(){
        return {
            data: {
                supermarket : 0,
                sucursal : 0,
                sur_name : ''
            },
            options: [],
             item: {
          value: '',
          text: ''
        },
            supermarket: [],
            branch: [],
            dropzoneOptions: {

        url: '/surveys/surveys',
        thumbnailWidth: 100,
        autoProcessQueue: false,
        maxFilesize: 100,
        maxFiles:1,
        addRemoveLinks: true,
        acceptedFiles: '.xls , .xlsx',
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> ARRASTRA ARCHIVOS AQUI PARA SUBIR",
        headers: { "x-csrf-token": Laravel.csrfToken },
        init: function () {

                           this.on("maxfilesexceeded", function(file) {
                            this.removeFile(file);
                      });
                        this.on("complete", function (file) {
                          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                              // alert("fotos subidads");
                              swal({
                                  title: '¡Ingresado!',
                                  text: 'Se han ingresado los productos destacados',
                                  type: 'success',
                                  allowOutsideClick: false
                              }).then(function(result) {
                               
                                 // _self.cleanall();

                              });
                          }
                          });
                          }
    },
        }
    },
    components: {
       
        BasicSelect,
        vueDropzone: vue2Dropzone
    },

   mounted() {
     let _$ = $;
      let _self = this;
     
      _self.getclients();
      _self.getSupermarket();

      $('#supermarket').on('change.select', function(e) {
      if(_self.data.supermarket == 0){
          $('#branchs').attr('disabled','active');
      }else{
          $('#branchs').removeAttr('disabled');
      }
            _self.getBranch(_self.data.supermarket);
        });

    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
          store() {
            let _self = this;
            let _$ = $;
            console.log(_self.item.value);
             axios.post('/administration/access-control/module', {
                    user_id: _self.item.value,
                    description : _self.checkedModules
                }).then(function (response) {

                });

                console.log("hola m,uinsadfsafdsf fdgs fdgaf vfrggfdasgfdgadf");

            console.log(_self.checkedModules);
        },
        getclients(){
                let _self = this;
                let _$ = $;
                   axios.get('/surveys/pollster/list')
                   .then(function (response) {
                    
                    _$.each(response.data.message, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.name
                      });
                    });
                   
                   }).catch(function(error) {

                   });

      },  
       

       getMod(){
          console.log("ok");
        },
        onSelect (item) {
          let _self = this;
          let _$ = $;
          this.item = item;
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        // select option from parent component
        this.item = this.options[0]
      },

      getSupermarket(){
      let _self = this;
         axios.get('/surveys/companies/list')
         .then(function (response) {
         _self.supermarket = response.data.message;
         }).catch(function(error) {

         });
    },
    getBranch(id){
      let _self = this;
         axios.get('/surveys/branch/company/'+id)
         .then(function (response) {
         _self.branch = response.data.message;
         _self.data.sucursal = 0;
         }).catch(function(error) {

         });
    },
    sendingEvent (file, xhr, formData) {
              let _self = this;

                formData.append('sur_name', _self.data.sur_name);
                formData.append('sur_pollster_id', _self.item.value);
                formData.append('sur_branch_id', _self.data.sucursal);

           },
           sendFiles () {
             let _self = this;
             let _$ = $;
             if (_$.trim(_self.data.sur_name) == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar nombre de entrevista'
              });
             }
             else if( _self.item.value == 0){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar un encuestador'
              });
             }
             else if(_self.data.supermarket == 0){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar un supermercado'
              });
             }
             else if(_self.data.sucursal == 0){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar una sucursal'
              });
             }
             else {

               this.$refs.myVueDropzone.processQueue();
               const $a = this.$refs.myVueDropzone.getAcceptedFiles();
        

             }
           },
      

    }
};
</script>
