<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar Nueva Encuesta</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="name" class="required">Ingrese nombre de encuesta</label>
                <input v-model="data.sur_name" placeholder="Ingrese nombre de encuesta" class="form-control">
                <label for="description" class="required paddingTop30">Seleccione un encuestador</label>
                <basic-select :options="options"
                :selected-option="item"
                placeholder="seleccione un encuestador"
                @select="onSelect">
                </basic-select>

                <label for="description" class="required paddingTop30">Seleccione una compañia</label>
                <select v-model="data.supermarket"  class="form-control" id="supermarket">
                      <option value="0">Seleccione una compañia</option>
                       <option v-for="option, index in supermarket" v-bind:value="option.id" :selected="option.id == data.id">{{option.com_name}}</option>
                </select>
                <label for="description" class="required paddingTop30">Seleccione una sucursal</label>
                <select v-model="data.sucursal"  class="form-control" id="branchs" disabled>
                      <option value="0">Seleccione una sucursal</option>
                       <option v-for="option, index in branch" v-bind:value="option.id" :selected="option.id == data.id">{{option.branch_name}}</option>
                </select>

                <label for="description" class="required paddingTop30">Ingrese archivo excel</label>
              <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" v-on:vdropzone-sending="sendingEvent"></vue-dropzone>
              <br>
                        
            
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer"> 
     <a type="button" href="/../storage/Surveys/example.xlsx" class="btn btn-info mr-auto" download>Bajar formato Excel</a>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right"  v-on:click= "sendFiles">Ingresar</button>
    
  </div>
</div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import { BasicSelect } from 'vue-search-select'
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.css';
export default {
    data: function(){
      let _self = this;
                let _$ = $;
        return {
            data: {
                supermarket : 0,
                sucursal : 0,
                sur_name : ''
            },
            options: [],
             item: {
          value: '',
          text: ''
        },
            supermarket: [],
            branch: [],
            dropzoneOptions: {

        url: '/surveys/surveys',
        thumbnailWidth: 50,
        autoProcessQueue: false,
        maxFilesize: 100,
        maxFiles:1,
        addRemoveLinks: true,
        acceptedFiles: '.xls , .xlsx',
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> ARRASTRA ARCHIVOS AQUI PARA SUBIR",
        headers: { "x-csrf-token": Laravel.csrfToken },
        init: function () {

                           this.on("maxfilesexceeded", function(file) {
                            this.removeFile(file);
                      });
                        this.on("complete", function (file) {
                          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                              
                           


                              // alert("fotos subidads");
                                   
                          }
                          });
                          this.on("success", function(file, response) {
                if(response.status == "1068"){

                  swal('¡Error!', 'El formato del excel no es compatible, favor descargar el formato correcto ', 'error');
                  this.removeFile(file);
                }else{
                  this.removeFile(file);
                     swal({
                                          title: '¡Ingresado!',
                                          text: 'Se ha ingresado la encuesta correctamente',
                                          type: 'success',
                                          allowOutsideClick: false
                                      }).then(function(result) {
                                         
                                          _self.clean();
                                           _$('#table').DataTable().ajax.reload();
                                            _$('#createdDialog').modal('hide');

                                      });
                }
            })
                          }
    },
        }
    },
    components: {
       
        BasicSelect,
        vueDropzone: vue2Dropzone
    },

   mounted() {
     let _$ = $;
      let _self = this;
     
      _self.getclients();
      _self.getSupermarket();

       _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
    });

      $('#supermarket').on('change.select', function(e) {
      if(_self.data.supermarket == 0){
          $('#branchs').attr('disabled','active');
      }else{
          $('#branchs').removeAttr('disabled');
      }
            _self.getBranch(_self.data.supermarket);
        });

    },
    computed: mapGetters([

  ]),

      methods: {
          ...mapActions([
      'cleanFreshId',
      'setFreshId'

    ]),
          store() {
            let _self = this;
            let _$ = $;
            console.log(_self.item.value);
             axios.post('/administration/access-control/module', {
                    user_id: _self.item.value,
                    description : _self.checkedModules
                }).then(function (response) {

                });

               

            console.log(_self.checkedModules);
        },
        getclients(){
                let _self = this;
                let _$ = $;
                   axios.get('/surveys/pollster/list')
                   .then(function (response) {
                    
                    _$.each(response.data.message, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.name
                      });
                    });
                   
                   }).catch(function(error) {

                   });

      },  
       

       getMod(){
          console.log("ok");
        },
        onSelect (item) {
          let _self = this;
          let _$ = $;
          this.item = item;
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        // select option from parent component
        this.item = this.options[0]
      },

      getSupermarket(){
      let _self = this;
         axios.get('/surveys/companies/list')
         .then(function (response) {
         _self.supermarket = response.data.message;
         }).catch(function(error) {

         });
    },
    getBranch(id){
      let _self = this;
         axios.get('/surveys/branch/company/'+id)
         .then(function (response) {
         _self.branch = response.data.message;
         _self.data.sucursal = 0;
         }).catch(function(error) {

         });
    },
    sendingEvent (file, xhr, formData) {
              let _self = this;

                formData.append('sur_name', _self.data.sur_name);
                formData.append('sur_pollster_id', _self.item.value);
                formData.append('sur_branch_id', _self.data.sucursal);

           },
           sendFiles () {
             let _self = this;
             let _$ = $;
             if (_$.trim(_self.data.sur_name) == ""){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes ingresar nombre de entrevista'
              });
             }
             else if( _self.item.value == 0){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar un encuestador'
              });
             }
             else if(_self.data.supermarket == 0){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar un supermercado'
              });
             }
             else if(_self.data.sucursal == 0){
               _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'Debes seleccionar una sucursal'
              });
             }
             else {

               this.$refs.myVueDropzone.processQueue();
               const $a = this.$refs.myVueDropzone.getAcceptedFiles();
        

             }
           },
      
           clean(){
             let _self = this;
             
             _self.data.supermarket = 0
             _self.data.sucursal = 0
              $('#branchs').attr('disabled','active');
           }
    }
};
</script>
