<template>
  <div class="">
  <div class="modal-header">

    <h4 class="modal-title h4modal">Detalle</h4>
  </div>
  <div class="modal-body modal-body">
    <div class="row">
         <div class="col-md-12 table-responsive">
                <table id="tableproduct" class=" table table-bordered table-hover table-options "></table>
              </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: function() {
        return {
            data: {
              
            }
        }
    },
    watch: {

        getid:function(new_id){
          let _self = this;
          if (new_id != 0)
          {
            this.get(new_id);
          }
          else{
           

                  }
                }
    },
    props: [ 'sInfoThousands' ],
    computed: mapGetters([
  'getid'
]),
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId'
  ]),
        get(id) {
            let _self = this;
        let _$ = $;
        // _$('#tableproduct').DataTable().destroy();

        _$('.bd-edit-modal-lg').on('hidden.bs.modal', function (e) {
          _self.cleanFreshId();
      });

        _$('#tableproduct').DataTable({
          language: {
            "sProcessing":     "Procesando...",
      "sLengthMenu":     "Mostrar _MENU_ registros",
      "sZeroRecords":    "No se encontraron resultados",
      "sEmptyTable":     "Ningún dato disponible en esta tabla",
      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
      "sInfoPostFix":    "",
      "sSearch":         "Buscar:",
      "sUrl":            "",
      "sInfoThousands":  ",",
      "sLoadingRecords": "Cargando...",
      "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
      },
      "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
      }
        },  destroy: true,
            processing: true,
            serverSide: true,
            bAutoWidth:false,
            ajax: "/surveys/surveysDetails/list/"+id,
            columns: [
                    {
                        title: 'Codigo',
                        data: 'sd_code'
                    },
                    {
                        title: 'Descripción',
                        data: 'sd_description'
                    },
                    {
                        title: 'Precio',
                        data: 'sd_price'
                    }
                ]
          



            });


        $(document).on('click', '.disable', function(e) {
            e.preventDefault();
            _self.disable($(this).data('id'));
        });
        $(document).on('click', '.enable', function(e) {
            e.preventDefault();
            _self.enable($(this).data('id'));
        });
        $(document).on('click', '.edit', function(e) {
          e.preventDefault();
            _self.id = $(this).data('id');
            _self.setFreshId($(this).data('id'));
        });
        },
        update() {

         
        }
    }
};
</script>
