<template>

          

                    <center-dashboard></center-dashboard>


               
</template>

<script>
import AppHeader from '../components/Header'
import Sidebar from '../components/Sidebar'
import AppAside from '../components/Aside'
import AppFooter from '../components/Footer'

export default {
  name: 'full',
  components: {
    AppHeader,
    Sidebar,
    AppAside,
    AppFooter,
    
  }
}
</script>
<!-- Vue.component('body-template', require('./containers/FullTemplate.vue'));
Vue.component('top-menu', require('./components/top-header.vue'));
Vue.component('left-sidebar', require('./components/Sidebar.vue'));
Vue.component('center-dashboard', require('./views/Dashboard.vue')); -->