<template>
  <div class="">
<div class="modal-header">

    <h4 class="modal-title h4modal">Ingresar un nuevo empleado</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Rut</label>
                <input v-model="data.run" type="text" id="rut" placeholder="Ingrese primer nombre" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Primer nombre</label>
                <input v-model="data.first_name" placeholder="Ingrese primer nombre" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Segundo nombre</label>
                <input v-model="data.second_name" placeholder="Ingrese segundo nombre" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Apellido paterno</label>
                <input v-model="data.father_surname" placeholder="Ingrese apellido paterno" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Apellido materno</label>
                <input v-model="data.mother_surname" placeholder="Ingrese apellido materno" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Fecha de nacimiento</label> <br>
                 <date-picker v-model="data.date" class="" type="datetime" format="dd-MM-yyyy" lang="es"></date-picker>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Dirección</label>
                <input v-model="data.address" placeholder="Ingrese dirección" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Teléfono</label>
                <input v-model="data.phone" placeholder="Ingrese teléfono" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Email</label>
                <input v-model="data.email" placeholder="Ingrese email" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Contraseña</label>
                <input v-model="data.password" placeholder="Ingrese contraseña" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="name" class="required">Ciudad</label>
                <model-select :options="options"
                                v-model="item"
                                placeholder="Seleccione ciudad">
          </model-select>
            </div>
        </div>
        
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="store">Ingresar</button>
  </div>
</div>
</template>
<script>
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
import { ModelSelect } from 'vue-search-select'
export default {
    data: function(){
        return {
            data: {
                run: '',
                first_name: '',
                second_name: '',
                father_surname: '',
                mother_surname: '',
                date: '',
                address: '',
                phone: '',
                email: '',
                password: ''
            },
            options: [
         
        ],
        item: {
          value: '',
          text: ''
        },
        }
    },
    components: {
      ModelSelect,
      DatePicker
    },
    mounted: function(){
      let _$ = $;
      let _self = this;
      _self.getcities();
      _$('.bd-create-modal-lg').on('hidden.bs.modal', function (e) {
        _self.clean();
        
    });

       $("input#rut").rut().on('rutInvalido', function(e) {
    $("input#rut").focus();
        _self.data.run = '';
    _self.$toast.error({
              title: 'Datos Faltantes',
               message: 'El rut ' + $(this).val() + ' es inválido'
              });
    });
       
    },
    methods : {
        store() {
            let _self = this;
            let _$ = $;

            if( _$.trim(_self.data.run) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.first_name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un apellido paterno'
             });
            }
            else if( _$.trim(_self.data.second_name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un apellido materno'
             });
            }
            else if( _$.trim(_self.data.father_surname) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
             else if( _$.trim(_self.data.mother_surname) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
             else if( _$.trim(_self.data.date) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
             else if( _$.trim(_self.data.address) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
             else if( _$.trim(_self.data.phone) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
             else if( _$.trim(_self.data.email) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
            else if( _$.trim(_self.data.password) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un rut'
             });
            }
            else {
                axios.post('contractType', {
                    name: _self.data.name,
                    father_surname : _self.data.father_surname,
                    mother_surname : _self.data.mother_surname,
                    run : _self.data.run
                }).then(function (response) {

                    if (response.status) {
                        swal({
                                    title: '¡Ingresado!',
                                    text: 'Se ha ingresado el registro',
                                    type: 'success',
                                    allowOutsideClick: false
                                }).then(function(result) {
                                    _$('#table').DataTable().ajax.reload();
                                    _$('#createdDialog').modal('hide');
                                    _self.data.name = '';
                                    _self.data.father_surname = '';
                                    _self.data.mother_surname = '';
                                    _self.data.run = '';
                                });
                            }
                        }).catch(function(error) {
                            swal('¡Error!', 'Error al ingresar registro', 'error');
                        });


            }
        },
       getcities(){
                let _self = this;
                let _$ = $;
                    axios.get('/surveys/cities/list')
                   .then(function (response) {
                   console.log(response.data);
                    _$.each(response.data.message, function(value, key) {
                      _self.options.push({
                      "value": key.id,
                      "text": key.city_name
                      });
                    });
                    
                   }).catch(function(error) {

                   });

      },
      clean(){
      
    }
    },

};
</script>
<style type="text/css">
    .mx-datepicker{
        width: 100% !important;
    }
</style>