<template>
  <div class="">
  <div class="modal-header">

    <h4 class="modal-title h4modal">Actualizar {{data.modaltitle}}</h4>
  </div>
  <div class="modal-body modal-body2">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name" class="required">Nombre</label>
                <input v-model="data.name" placeholder="Ingrese nombre" class="form-control">
                <label for="description" class="required paddingTop30">Descripción</label>
                <input v-model="data.description" placeholder="Ingrese nombre" class="form-control">
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      <button class="btn btn-success pull-right" @click.prevent="update">Actualizar</button>
  </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: function() {
        return {
            data: {
                name: 'cargando...',
                description: 'cargando...',
                modaltitle: 'cargando...'
            }
        }
    },
    watch: {

        getid:function(new_id){
          let _self = this;
          if (new_id != 0)
          {
            this.get(new_id);
          }
          else{
            _self.data.name = 'cargando...' ;
            _self.data.description = 'cargando...' ;
            _self.data.modaltitle = 'cargando...' ;

                  }
                }
    },
    props: [ 'id' ],
    computed: mapGetters([
  'getid'
]),
    methods : {
        ...mapActions([
    'cleanFreshId',
    'setFreshId'
  ]),
        get(id) {
            var _self = this;
            return new Promise(function(res, rej){
                axios.get('/simplecredit/account-type/' + _self.getid
                ).then(function (response) {

                    _self.data.name = response.data.name;
                    _self.data.modaltitle = response.data.name;
                     _self.data.description = response.data.description;
                }).catch(function (error) {
                    return rej();
                });
            });
        },
        update() {

            let _$ = $;
            let _self = this;

             if( _$.trim(_self.data.name) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar un nombre'
             });
            }
            else if( _$.trim(_self.data.description) == ""){
              _self.$toast.error({
             title: 'Datos Faltantes',
              message: 'Debes ingresar una descripción'
             });
            }
            else {
              _self.data.modaltitle = _self.data.name;
            axios.patch('/surveys/companies/' + _self.id, {
                "name": _self.data.name,
                "description": _self.data.description
            }).then(function (response) {
                if (response.status) {
                    swal({
                        title: '¡Actualizado!',
                        text: 'Se ha actualizado el registro',
                        type: 'success',
                        allowOutsideClick: false
                    }).then(function(result) {
                       _$('#table').DataTable().ajax.reload();
                       _$('#editDialog').modal('hide');

                    });
                }
            }).catch(function(error) {
                swal('¡Error!', 'Error al editar registro', 'error');
            });
          }
        }
    }
};
</script>
